[2021-01-26 12:14] denis-tingaikin opened #81 "Add resource limits on all applications"
We need to add resource limits for each app in https://github.com/networkservicemesh/deployments-k8s/tree/main/apps

[2021-02-09 07:14] denis-tingaikin opened #262 "Add memif2memif example"

[2021-02-09 13:55] #262 closed

[2021-02-15 20:20] denis-tingaikin opened #312 "Cover all variants of connection between nsc, nse via cmd-forwarder-vpp"
Currently, we have examples for:
1. `kernel2kernel`
2. `memif2memif`
3. `kernel2vxlan2kernel`

https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/basic#includes

These variants currently is not covered by integration:

1. `kernel2memif`
2. `memif2kernel`
3. `kernel2vxlan2memif`
4. `memif2vxlan2kernel`
5. `memif2memif`

[2021-02-15 20:36] edwarnicke commented on #312
Don't we also have:
memif2vxlan2memif

[2021-03-01 16:38] #312 closed

[2021-03-05 22:17] denis-tingaikin opened #475 "Automerge job ca stuck and do not merge green PRs from NSMBot"
## Problem
Actual:
![image](https://user-images.githubusercontent.com/49399980/110179759-360e2900-7e3b-11eb-8f53-d579e2b9fdba.png)
Expected: All green PRs from NSMBot should be merged.

We need to investigate and fix this.

[2021-03-05 22:28] denis-tingaikin commented on #475
Found error in logs of auto-merge job: `Pull request is not in a mergeable state: UNKNOWN.`

[2021-03-05 22:31] denis-tingaikin commented on #475
@edwarnicke I see here these options at this moment:

1. Use another action: https://github.com/pascalgn/automerge-action.
2. Try to patch ridedott/merge-me-action (looks like it should retry do merge after some period for PRs in UNKNOWN state).
3. Do ridedott/merge-me-action twice.
4. Your option.

For me option 1 looks good, but Im not sure at 100% that it solves the issue.

[2021-03-05 22:58] edwarnicke commented on #475
@denis-tingaikin I'm not in any way attached to our current auto-merge action... so if another one looks better or more stable, I'm in favor of changing :)

[2021-03-08 02:23] edwarnicke opened #477 "iperf examples"
Add examples for iperf testing.

iperf is usually run as a client and a server.

The iperf client can be run as any other workload using the nsc client, similar to [Kernel2Kernel](https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/use-cases/Kernel2Kernel) or [Kernel2Vxlan2Kernel](https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/use-cases/Kernel2Vxlan2K

[2021-03-08 16:43] lewisfelix opened #478 "Add example or explanation on how to interconnect ns endpoints (nse)"
Good afternoon:

With this new approach for NSM, I have noticed that you have uploaded several cases of connectivity between NSC and NSE. However, there is no example on how to interconnect different NSEs in order to perform a bigger/more complex service with NSM in this case.

If possible, do you consider adding an example of such characteristics to this repository? In my humble opinion, I think

[2021-03-08 16:52] edwarnicke commented on #478
@lewisfelix Good point... which would be the most interesting first example of that in your opinion?

[2021-03-08 17:22] lewisfelix commented on #478
@edwarnicke are you referring to those already implemented in the other NSM "examples" repository or in general? :)

In my opinion, one "simple" example (quoted because this is just simple in my mind now, I might be wrong in this one) could be using two "simple-clients" and two "simple-endpoints", interconnecting these later ones to allow both clients to be pinged though the endpoints (i.e. forcin

[2021-03-08 17:42] denis-tingaikin opened #479 "Add OPA example"
## Desription

Currently, all examples pass with a correct token chain. To check that the invalid token chain will fail we could add an example with NSC that trying to request service with the expired token.

## Motivation

This can help to user show how works OPA policies and this can help us to track regressions related to OPA stuff.

[2021-03-08 19:22] #479 closed

[2021-03-08 19:57] edwarnicke opened #481 "Apply Web admissions controller to deployments-K8s"
Currently in deployment-k8s we are manually putting the nsc containers into the Pods... we should switch to doing that with a web admissions controller once:

https://github.com/networkservicemesh/cmd-admission-webhook-k8s/issues/1

Is complete.

[2021-03-09 18:28] edwarnicke commented on #477
@ wchenxing

[2021-03-12 13:48] johlj opened #505 "Request for example of running multiple simultaneous forwarders"
Implement/document a test scenario for running and configuring at least two different types of forwarders simultaneously.

For instance the vpp forwarder alongside the sriov forwarder

[2021-03-12 14:51] denis-tingaikin commented on #505
@johlj Thanks for the activity :)

Question.. Could you clarify interested scenario?

I see these variants of examples:

Variant1: nsmgr + few different forwarders on the same node.
Variant2: nsc->nsmgr1->forwarder-{platform1}->nsmgr1->nsmgr2->forwarder-{platform2}->nsmgr2->nse?

[2021-03-15 08:22] johlj commented on #505
Hi,

both scenarios are interesting but would say a simple scenario with:

2x forwarders
2x NSCs
2x NSEs

NSC1 connects to NSE1 with forwarder1 (and gets an interface of type A)
NSC2 connects to NSE2 with forwarder2 (and gets an interface of type B)

would be the most interesting for us at the moment.

[2021-03-15 10:48] johlj opened #519 "Request for helm based installation examples"
Add helmchart based deployment examples

For example, a basic deployment with nsmgr, vpp-forwarder, spire

[2021-03-15 11:03] denis-tingaikin commented on #519
It is a good point, I think we need to have a separate repository for helm charts. @edwarnicke Thoughts?

[2021-03-15 11:05] denis-tingaikin commented on #505
@johlj OK, added this into the Backlog issues.
Waiting for moving this into `To do` form @edwarnicke

[2021-03-15 11:06] denis-tingaikin commented on #478
Waiting for moving this from `Backlog` into `To do` by @edwarnicke

[2021-03-15 12:19] Bolodya1997 commented on #81
Right now it is problematic because on such scenario healing starts overusing CPU:
[code]
after that NSMgr starts trying to heal all `NSC -> NSE` connections increasing CPU usage up to 1000m.

Waiting for the  https://github.com/networkservicemesh/sdk/pull/738 to fix it.

[2021-03-15 16:31] edwarnicke commented on #519
@denis-tingaikin Yes, we'd need a separate repo for helm charts.

[2021-03-15 17:15] #475 closed

[2021-03-29 10:41] denis-tingaikin opened #639 "BasicSuite/TestMemif2Vxlan2Memif is not stable"
## Build

https://github.com/networkservicemesh/integration-k8s-kind/runs/2216228221

## Logs

[Containers logs.zip](https://github.com/networkservicemesh/deployments-k8s/files/6221120/Containers.logs.zip)

[2021-03-31 06:42] #505 closed

[2021-04-06 09:19] Bolodya1997 commented on #81
Issue with CPU overusing is still here, but now with refresh:
[code]
![image](https://user-images.githubusercontent.com/20160689/113688703-c3bb8d80-96f3-11eb-8dc8-5ddb6d7f3e2b.png)

[2021-04-06 14:41] denis-tingaikin commented on #639
Fixed by https://github.com/networkservicemesh/sdk-k8s/pull/102

[2021-04-06 14:41] #639 closed

[2021-04-07 20:44] #481 closed

[2021-04-12 07:00] denis-tingaikin opened #741 "End to end DNS integration: add DNS examples"
## Related to

https://github.com/networkservicemesh/cmd-nse-icmp-responder/issues/133
https://github.com/networkservicemesh/sdk/issues/825

## Description

We need to add examples of using DNS with NSM.

## Estimation

7h

[2021-04-13 04:37] #81 closed

[2021-04-14 10:23] rpiceage opened #773 "nsm-spire image"
In NSM old gen there was an nsm-spire sidecar image for handling spire configuration. Is there any plan to create it for the next gen also? Or is there some recommended way how to handle spire workload registration based on config files, without entry create commands?

[2021-04-14 12:33] denis-tingaikin commented on #773
Currently, we do not plan to add automatization for spire registration. I feel this may be scheduled in the future.

@edwarnicke , @fkautz Could you share thoughts abut this?

[2021-04-14 14:18] edwarnicke commented on #773
@rpiceage Could you provide more specific detail around your needs in this regard.  It may make more sense for us to contribute upstream to spire.

[2021-04-14 14:26] denis-tingaikin opened #774 "TestRunMemorySuite/TestKernel2Vxlan2Kernel can fail on ci"
## Build

https://github.com/networkservicemesh/integration-k8s-kind/runs/2338377317

## Logs
[Containers logs (6).zip](https://github.com/networkservicemesh/deployments-k8s/files/6311465/Containers.logs.6.zip)

[2021-04-15 06:58] rpiceage commented on #773
@edwarnicke The aim is to be able to ship the config together with the other stuff, so we want to avoid additional config steps through the spire server CLI after deployment. The nsm-spire sidecar is exactly doing this together with the config file called registration.json which contains the necessary entries for spire.
In fact yesterday I managed to reuse that old image, so it works now temporari

[2021-04-15 14:15] edwarnicke commented on #773
@rpiceage Got it.  So it sounds like something that would let you ship a CRD for config (ie, just another part of the yaml) would meet your needs.  Its more a declarative vs imperative thing than anything.

I've kicked off a conversation on the spire slack [here](https://spiffe.slack.com/archives/C7XDP01HB/p1618411797123700).  Would be good to get more voices there :)

[2021-04-15 14:17] edwarnicke commented on #773
@rpiceage Question: if the existing spire-server containers could have identities updated via ConfigMaps updating config files for that container... would it get you where you need to go?

[2021-04-19 07:46] rpiceage commented on #773
@edwarnicke As I understand, the config file for the spire server could not contain the entries needed to be injected as our configuration.
On the other hand the CRD solution would be OK. Also I will have a go at the spire k8s-workload-registrar, maybe it can solve the problem.

[2021-04-20 15:36] denis-tingaikin opened #906 "Reduce tokens time from 24h to 10 minutes for each application"
## Motivation

Previously we've fixed issues with `refresh`/`timeout`:

https://github.com/networkservicemesh/sdk/pull/778
https://github.com/networkservicemesh/sdk/pull/650
https://github.com/networkservicemesh/sdk/pull/520

and now we can reduce tokens expiration for each application to 10 minutes  (it is 24h at this moment).

Also, we plan to add `refresh`/`timeout` examples, but it can be done

[2021-04-23 06:31] glazychev-art opened #952 "Add resource requests for vpp-applications"
## Expected Behavior

The application uses only the quantity of resources it needs

## Current Behavior

Vpp apps reserve more than they need

## Context

If we specify a container's limits, but not its request,  then request is set to match its limit.

[2021-04-23 09:54] glazychev-art opened #954 "TestRunBasicSuite/TestMemif2Vxlan2Memif can fail on ci"
## Logs
[Container logs](https://github.com/networkservicemesh/deployments-k8s/files/6363819/logs-230.zip)

[2021-04-26 00:50] #741 closed

[2021-04-27 08:58] Bolodya1997 opened #1014 "NSE Composition: MD integration tests"
## Overview

Migrate `secure-intranet` example to MD tests for multi repo.

## References

* `secure-intranet` - https://github.com/networkservicemesh/examples/tree/master/examples/secure-intranet

## Blockers

Depends on ~https://github.com/networkservicemesh/sdk/issues/871, https://github.com/networkservicemesh/sdk/issues/878, https://github.com/networkservicemesh/sdk/issues/879,~ https://github

[2021-04-27 11:44] Bolodya1997 opened #1015 "Scalability Testing: Decompose NSM testing"
## Test plan

**Use cases:**
1. Client requests Local Endpoint.
2. Client requests Remote Endpoint.

**Test scenarios:**
1. Client requests Local Endpoint.
   * **Setup**
      1. Start NSM (Registry, NSMgr, Forwarder) on single node.
      2. Start _E_ endpoints implementing _N_ network services on the same node.
   * **Test**
      1. Start _C_ clients each requesting _R_ network services on the

[2021-04-27 11:57] Bolodya1997 opened #1016 "Scalability Testing: Decompose NSMgr testing"
## Test plan

**Use cases:**
1. Endpoint registers on NSMgr.
2. Endpoint updates itself on NSMgr.
3. NSMgr unregisters expired Endpoint from itself.
4. Forwarder registers on NSMgr.
5. Forwarder updates itself on NSMgr.
6. NSMgr unregisters expired Forwarder from itself.
7. Client sends request to NSMgr.
8. Client sends refresh request to NSMgr.
9. Client closes connection on NSMgr.

**Test scenar

[2021-04-27 12:10] Bolodya1997 opened #1017 "Scalability Testing: Decompose Registry testing"
## Test plan

**Use cases:**
1. NSMgr registers Endpoint on Registry.
2. NSMgr updates Endpoint on Registry.
3. NSMgr unregisters Endpoint from Registry.
4. NSMgr creates a find request to Registry.
5. NSMgr creates a watching find request to Registry.
6. Registry unregisters expired Endpoint from itself.

**Test scenarios:**
1. NSMgr registers Endpoint on Registry:
   * **Setup**
      1. Start R

[2021-04-27 12:16] Bolodya1997 opened #1018 "Scalability Testing: Decompose Forwarder testing"
## Test plan

**Use cases:**

1. NSMgr sends request to Forwarder.
2. NSMgr sends refresh request to Forwarder.
3. NSMgr closes connection on Forwarder.
4. Forwarder closes expired connection with NSMgr.

**Test scenarios:**

1. NSMgr sends request to Forwarder:
   * **Setup**
      1. Start fake NSMgr (handling both Client/Remote and Endpoint/Remote sides).
      2. Start Forwarder.
   * **Test**

[2021-04-27 12:23] Bolodya1997 opened #1019 "Scalability Testing: Decompose Endpoint testing"
## Test plan

**Use cases:**

1. NSMgr sends request to Endpoint.
2. NSMgr sends refresh request to Endpoint.
3. NSMgr closes connection on Endpoint.
4. Endpoint closes expired connection with NSMgr.

**Test scenarios:**

1. NSMgr sends request to Endpoint:
   * **Setup**
      1. Start fake NSMgr.
      2. Start Endpoint.
   * **Test**
      1. Request _C_ connections.
2. NSMgr sends refresh requ

[2021-04-27 12:28] Bolodya1997 opened #1020 "Scalability Testing: Decompose Client testing"
## Test plan

**Use cases:**

1. Client sends request to NSMgr.
2. Client sends refresh request to NSMgr.

**Test scenarios:**

1. Client sends request to NSMgr:
   * **Setup**
      1. Start fake NSMgr (same as fake Endpoint from https://github.com/networkservicemesh/deployments-k8s/issues/1016).
   * **Test**
      1. Start Client requesting _C_ connections.
2. Client sends refresh request to NS

[2021-04-27 14:57] #952 closed

[2021-04-29 15:10] rpiceage commented on #773
@edwarnicke It seems that the k8s-workload-registrar image provided by Spire works for us, so there is no need for the former nsm-spire functionality at the moment.
Thanks for the support, I think we can close this issue.

[2021-04-29 15:10] #773 closed

[2021-04-29 16:43] edwarnicke commented on #773
@rpiceage Excellent news!

[2021-04-29 17:10] denis-tingaikin commented on #773
it sounds like we can simplify a bit our examples if we'll use `k8s-workload-registrar`.  @edwarnicke Do we need to update our examples and use  `k8s-workload-registrar`?

[2021-04-29 19:10] denis-tingaikin commented on #954
[Containers logs](https://github.com/networkservicemesh/deployments-k8s/files/6400854/Containers.logs.8.zip)

[2021-04-29 19:59] edwarnicke commented on #773
@denis-tingaikin Lets look into it :)

[2021-05-01 19:05] denis-tingaikin opened #1134 "Add Caddyfile based NSE"
## Motivation

We could create one cmd-${TODO: consider name}-nse that would parse config based on caddyfile format. The main point is: `Have a possible to build NSEs based on SDKs without building new app`. That can be used for testing goals (we do not more add new cmd-repo for each new typically NSE) and for users that do not want to code NSE and want just a play with NSM.

## Example

To create

[2021-05-03 18:14] denis-tingaikin commented on #954
https://github.com/networkservicemesh/integration-k8s-kind/runs/2494060190

[2021-05-03 18:14] denis-tingaikin commented on #774
https://github.com/networkservicemesh/integration-k8s-kind/runs/2494060190

[2021-05-04 11:05] Bolodya1997 opened #1174 "Destructive Chaos Testing: Integration tests"
## Overview

Cover the following heal scenarios with integration tests:
1. Local NSMgr(r) +
   1. none - https://github.com/networkservicemesh/deployments-k8s/pull/1789
   2. Local Endpoint(d) - moved to https://github.com/networkservicemesh/deployments-k8s/issues/1928
   3. Remote NSMgr(~r~/d) - moved to https://github.com/networkservicemesh/deployments-k8s/issues/1928
   4. Remote Forwarder(d) -

[2021-05-04 19:11] edwarnicke commented on #906
@denis-tingaikin Did this get done?  If not, why not?

[2021-05-05 13:18] denis-tingaikin commented on #954
@edwarnicke I've marked this with ASAP label and moved it into the Backlog section. Let us know if we can consider this.

[2021-05-05 13:18] denis-tingaikin commented on #774
@edwarnicke I've marked this with ASAP label and moved it into the Backlog section. Let us know if we can consider this.

[2021-05-05 18:10] edwarnicke commented on #954
@denis-tingaikin Definitely... intermittent failures in CI are important to fix.

[2021-05-06 13:01] rpiceage opened #1191 "Request for information about Roles and ClusterRoles"
Could you add some example Roles and ClusterRoles?
I need to define Roles/ClusterRoles for the cmd-registry-memory, cmd-nsmgr and cmd-forwarder-vpp and have no info about exactly what resources and verbs are needed for each of them. An example yaml would be very welcome.

[2021-05-06 14:25] denis-tingaikin commented on #1191
Could you explain for what do you need roles?

[2021-05-07 05:15] glazychev-art opened #1192 "Alpine container for webhook can fail on update"
## Expected Behavior

Postgresql should be correctly installed

## Current Behavior

Postgresql is not installed on alpine, so `TestWebhook` failed

## Failure Information (for bugs)

Sometimes `apk update` can return the next errors:
[code]

## Proposal
Use `postgres` container as a client instead of `alpine`

[2021-05-07 06:36] rpiceage commented on #1191
We are working on a Helm chart for NSM, and have to meet some requirements. One of them is that DaemonSets, Deployments, etc should not use the default roles, but should have their own, together with RoleBinding.

[2021-05-08 01:20] edwarnicke commented on #1191
@rpiceage OK... so lets talk through this to make sure I understand :)

Are you asking the that Role and ClusterRole for the various Pods/Daemonsets/Deployments in the NSM system?

If so, I presume you are seeking to converge on the most restrictive Role/ClusterRole that will work for those Pods/Daemonsets/Deployments correct?

I believe that the only cmd-* we have that are interacting with the k8

[2021-05-10 06:11] rpiceage commented on #1191
@edwarnicke Yes, you got it right about the most restrictive Role.
Does this mean that cmd-registry-memory, cmd-nsmgr and cmd-forwarder-vpp do not require anything specified it their most restricted Roles?

[2021-05-11 09:25] d-uzlov opened #1261 "Use nodeName instead of kubernetes.io/hostname label"
## Overview

Currently this repository uses `spec.nodeSelector[kubernetes.io/hostname]` label for defining node affinity.
This label is equivalent to `spec.nodeName`, unless the label was deliberately changed.
Using `spec.nodeName` field for node affinity would be simpler.

## Example:
Replace this:
[code]
with this:
[code]

[2021-05-11 17:29] edwarnicke commented on #1191
@rpiceage Not in terms of their interactions with the K8s API.  cmd-forwarder-vpp *does* need to run privileged.

[2021-05-12 13:47] rpiceage commented on #1191
@edwarnicke Thanks for the info.

[2021-05-12 13:47] #1191 closed

[2021-05-12 14:40] edwarnicke commented on #1191
@rpiceage Which brings us around to the question... do you need Roles and ClusterRoles for:

* cmd-forwarder-sriov
* cmd-exclude-prefixes-k8s
* cmd-registry-k8s

I believe cmd-forwarder-sriov has dependencies on k8s due to it providing a device plugin

I believe cmd-exclude-prefixes-k8s mostly reads from the K8s API, but also writes ConfigMaps

cmd-registry-k8s maintains CRDs to store NSM registry

[2021-05-13 09:06] #1192 closed

[2021-05-17 09:35] denis-tingaikin commented on #954
Fixed by https://github.com/networkservicemesh/cmd-nsc-vpp/pull/118

[2021-05-17 09:35] #954 closed

[2021-05-18 08:58] denis-tingaikin opened #1328 "Add topology aware scale-from-zero running of NSEs in response to NSC demand example"
## Implementation details

1. Add new app `cmd-nse-supplier-k8s` in `apps/`
2. Add a new example for the feature suite. See at ipv6 example from feature suite: https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/features/ipv6/Kernel2Kernel
3. Make sure that scenario is working https://github.com/networkservicemesh/sdk/issues/821#issuecomment-821619786

Note: Network service fo

[2021-05-19 15:30] edwarnicke opened #1353 "Include cmd-exclude-prefixes-k8s"
1. Add https://github.com/networkservicemesh/cmd-exclude-prefixes-k8s to the apps.
2. Deploy cmd-exclude-prefixes-k8s with all examples
3. Provide examples to show cmd-exclude-prefixes-k8s working correctly, and exclude prefixes being excluded from IP ranges

[2021-05-27 06:41] glazychev-art opened #1407 "Create wireguard example"

[2021-05-27 10:57] #1328 closed

[2021-06-07 05:57] denis-tingaikin opened #1638 "Use spire federation in interdomain examples"
## Description

Currently, we are using sharing cert for two spire servers to make nsm working over two domains. To generate cert and key we are using openssl. It is can be improved if we'll rework spire deployments and spire examples to use spire federation feature.

## Implementation details

1. Remove using openssl in spire examples:https://github.com/networkservicemesh/deployments-k8s/tree/mai

[2021-06-08 08:13] Mixaster995 opened #1693 "Destructive Chaos Testing: local forwarder healing test"
part of https://github.com/networkservicemesh/deployments-k8s/issues/1174

[2021-06-08 12:41] Mixaster995 opened #1695 "Destructive Chaos Testing: remote forwarder healing test"
## Issue
In remote forwarder healing scenario, when we kill remote forwarder and then, after it's restored, trying to ping from nsc to nse again it is not working.

part of https://github.com/networkservicemesh/deployments-k8s/issues/1174

[2021-06-09 06:56] Mixaster995 commented on #1695
- Logs from all pods after first incorrect ping: [logs.zip](https://github.com/networkservicemesh/deployments-k8s/files/6621614/logs.zip)

- Additional info from forwarders

1. Local:
[code]
2. Remote:
[code]

[2021-06-14 13:40] denis-tingaikin opened #1758 "TestKernel2Vxlan2Memif become unstable after last merges"
Logs:
Build1:
[logs1](https://github.com/networkservicemesh/deployments-k8s/files/6648634/artifacts.zip)
Build2:
[logs2](https://github.com/networkservicemesh/deployments-k8s/files/6648638/Containers.logs.6.zip)

## Potential problem:

By my investigation, I found that we got red ci in kind on these changes: https://github.com/networkservicemesh/deployments-k8s/compare/7b34262f...7b7cb58da

The pr

[2021-06-15 10:02] Bolodya1997 commented on #1758
Closed by networkservicemesh/cmd-nsc#218, networkservicemesh/cmd-nsc-vpp#163.

[2021-06-15 11:31] denis-tingaikin commented on #1758
@Bolodya1997 Nice!

[2021-06-15 11:31] #1758 closed

[2021-06-17 16:31] richardstone opened #1826 "cmd-nsc-vpp: issues with NOT default NSM_NAME"
Hi!

When I set the NSM_NAME parameter of cmd-nsc-vpp to anything other than the default, I get this error:
Jun 17 16:19:42.714 [ERRO] [cmd:/bin/cmd-nsc-vpp] (19.1)                     proxyListener unable to listen on /tmp/memifproxy/endpoint-nsc-795886dc88-577t6-f96ec20f-ede0-499f-b0cc-819e8f735869/memif.socket: listen unixpacket /tmp/memifproxy/endpoint-nsc-795886dc88-577t6-f96ec20f-ede0-499f-b

[2021-06-17 16:37] denis-tingaikin commented on #1826
By default, we are using the name of POD: https://github.com/networkservicemesh/deployments-k8s/blob/main/apps/nsc-memif/nsc.yaml#L29

[2021-06-17 16:38] denis-tingaikin commented on #1826
@richardstone Could you share your diff in the deployment?

[2021-06-17 16:48] richardstone commented on #1826
Yes that is exactly how i'd like to use, but if I uncomment the mentioned part, it does not work.

Here is my deployment:
[code]

[2021-06-17 16:52] denis-tingaikin commented on #1826
OK, thanks! Could you also share logs from the container?

[2021-06-17 17:03] richardstone commented on #1826
Here is the log: [cmd-nsc-vpp.txt](https://github.com/networkservicemesh/deployments-k8s/files/6671936/cmd-nsc-vpp.txt)

[2021-06-17 20:32] denis-tingaikin commented on #1826
@d-uzlov Could you have a look at this issue ASAP?

[2021-06-18 08:10] d-uzlov commented on #1826
@richardstone could you provide info about the system you are using?

Also, which exact names did you test except "endpoint-nsc"? Are the errors in logs the same for all of the names you tested?

Am I understanding correctly that short names also don't work? Like, for example, just "nsc" in the deployment config you posted.
Locally I was able to get the same error when the name is too long. On my

[2021-06-18 08:45] d-uzlov commented on #1826
Here are the logs I get when I try to set the NSM_NAME to the value from your logs:
<details>

[code]
</details>

[2021-06-18 11:49] richardstone commented on #1826
Hi!

Thanks for the fast response.
You're right the name was much longer when it failed. Strange thing is that the kernel2kernel example works well with the longer name. Is there any chance you can make the cmd-nsc-vpp to accept a longer name just like the cmd-nsc? Or do you know where this limitation comes from in case of the vpp image?

[2021-06-18 12:14] d-uzlov commented on #1826
Oh, it's good to know that we correctly identified the cause of the issue!

The limitation comes from the fact that memif connection uses unix sockets, with [file name containing connection id](https://github.com/networkservicemesh/sdk-vpp/blob/d008cec5117b7bb148a69d732fdeb15f858f5e8b/pkg/networkservice/mechanisms/memif/memifproxy/client.go#L83), and cmd-nsc-vpp [uses the name from its config as p

[2021-06-18 12:25] richardstone commented on #1826
Yes, thanks a lot for the investigation!

Is it possible that you'll change the method of the generation so there won't be differences in limits for the memif and kernel NSC names?

[2021-06-18 12:28] d-uzlov commented on #1826
Yeah, I believe that we will fix it to remove limitations.

[2021-06-18 12:29] richardstone commented on #1826
Very good, Thanks in advance!

[2021-06-18 12:33] edwarnicke commented on #1826
@richardstone @d-uzlov Good catch.

@d-uzlov Is there any reason to set a Connection.ID at all in the cmd-nsc rather than letting the normal connection id generation kick in?

[2021-06-18 12:40] edwarnicke commented on #1826
@richardstone Looking more closely at this, while I wholeheartedly support your recommended workaround of not including the name in the connection id in cmd-nsc as a fix for NSM 1.0, we need to get a more comprehensive fix for post NSM 1.0 :)

I am [seeing some reports](https://unix.stackexchange.com/questions/367008/why-is-socket-path-length-limited-to-a-hundred-chars) that using relative paths c

[2021-06-18 12:55] richardstone commented on #1826
@edwarnicke The best for me would be that I'd be able to use the same long name for the memif nsc that I use for the kernel one.

As a workaround I started to look for a way to be able to take a substring of the full pod name as the NSM_NAME variable but I had no luck with finding a solution for that so far.
I guess the thing that many NSCs will have the same name (if i leave out the parameter fro

[2021-06-18 12:55] d-uzlov commented on #1826
I don't think there is any real benefit in manually setting the connection ID. We already have path name for each path segment, which is usually used to identify where the connection came through.

But we probably don't want to limit the users in which connaction ids they can use, so I think memif should support long ids.

I was thinking about keeping a map of [connectionId -> UUID], and using the

[2021-06-18 13:10] edwarnicke commented on #1826
@richardstone Net-net: are you OK for NSM 1.0 of we simply *don't* use the pod name in the connection id, and we can revisit for a better solution post NSM 1.0?

[2021-06-18 13:23] richardstone opened #1887 "memif2vxlan2memif: errors in nsmgr, no response for nsc"
Hi,

I'm trying to deploy the memif2vxlan2memif example but getting strange errors in the local nsmgr of the nsc. On one machine the connection is fine, on the other the NSC is not getting a response, but the error is there in both try.

I post the logs from the NSC and the NSMGR in both cases (bad, working). Could you please take a look at them?
[bad-memif2vxlan2memif-nsc.txt](https://github.com/

[2021-06-18 13:26] richardstone commented on #1826
@edwarnicke It's okay for me. Thanks!

[2021-06-18 13:42] edwarnicke commented on #1826
@richardstone Temp fix is in.  Lets leave this issue open to get a longer term fix.

[2021-06-18 14:02] denis-tingaikin commented on #1887
Hello @richardstone,

Could you also share versions of your images?

[2021-06-18 14:05] richardstone commented on #1887
I'm using latest from the repo.

[2021-06-21 09:20] Bolodya1997 opened #1928 "Destructive Chaos Testing: Integration tests (multi death cases)"
## Overview

Cover the following heal scenarios with integration tests:
1. Local NSMgr(r) +
   1. Local Endpoint(d)
   2. Remote NSMgr(d)
   3. Remote Forwarder(d)
   4. Remote Endpoint(d)
   5. Registry(r)
2. Remote NSMgr(d) +
   1. Remote Endpoint(d)
   2. Registry(d)

## Blockers
* extended sandbox testing - https://github.com/networkservicemesh/sdk/issues/899

[2021-06-21 09:22] Bolodya1997 commented on #1174
Single death cases implemented in #1789.
Multi death cases moved to #1928.

[2021-06-21 09:22] #1174 closed

[2021-06-21 14:04] denis-tingaikin opened #1929 "NSM interface deleting periodically"
## Logs

[code]

## Steps to reproduce
1. Run webhook example: https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/features/webhook
2. don't cleanup
3. wait for 20-30 min

**Actual:**

[nsm-toggling.webm.zip](https://github.com/networkservicemesh/deployments-k8s/files/6687134/nsm-toggling.webm.zip)

**Expected:**
NSM interface should not be deleted if data plane and control pl

[2021-06-21 14:39] denis-tingaikin commented on #1929
Cannot reproduce. It looks like the problem related to tokens lifetime.

[2021-06-21 15:14] denis-tingaikin commented on #1929
Tested on kind. The issue is reproducible.

[2021-06-21 16:16] denis-tingaikin commented on #1929
Logs from my local running:

[nsc-init.txt](https://github.com/networkservicemesh/deployments-k8s/files/6688056/nsc-init.txt)
[nsc.txt](https://github.com/networkservicemesh/deployments-k8s/files/6688057/nsc.txt)

[2021-06-21 16:16] denis-tingaikin commented on #1929
@edwarnicke Can we consider this issue ASAP?

[2021-06-21 16:40] edwarnicke commented on #1929
@denis-tingaikin Yes

[2021-06-22 13:45] Bolodya1997 commented on #1928
@edwarnicke
Do we want to skip some steps now and return to them later? Or probably there is something else I am missing?
Please share your thoughts.

[2021-06-27 17:48] denis-tingaikin commented on #1929
**Root cause:**

1. Spire gives a certificate for 1h
2. NSM schedules refresh after 1h * 1/3
3. On refreshing spire updates certificates for all applications
4. At refresh moment nsmgr has a new certificate from spire, but authInfo from gRPC keeps old certificate from step1.

Currently, I'm not found a good solution for this issue, started to look into gRPC source code.

[2021-06-28 18:52] denis-tingaikin commented on #1929
Tested today two workarounds:
1. https://golang.org/pkg/crypto/tls/#RenegotiationSupport -- it is not helped
2. remove connection caching in connect -- it is working

Still looking for other solutions.

[2021-06-29 06:22] #1407 closed

[2021-06-29 11:21] denis-tingaikin commented on #1929
@edwarnicke

I've asked spire guys about the issue and got the next answer:

This is expected. gRPC will reuse the existing connection when you issue RPCs unless you redial. Since no new TLS handshake takes place, the new client credential is never communicated.
white_check_mark
eyes
raised_hands

The x509source returns a channel from Updated() that callers can use to know when the SVID has been u

[2021-06-29 14:05] denis-tingaikin commented on #1929
Currently we have the next options to fix the issue:

1. Do redial as suggested spire guys on svid updating https://github.com/networkservicemesh/deployments-k8s/issues/1929#issuecomment-870508779
2. Remove policy `last token signed`.
3. Keep and use first certificates for client and server on token generating.
4. Your option.

For me option 1 looks good.

@edwarnicke Please share your thoughts on

[2021-06-29 14:14] edwarnicke commented on #1929
I'm curious... are they saying that GRPC won't close existing connections that have a TLS certificate that has expired after the connection was established?

[2021-06-29 14:32] denis-tingaikin commented on #1929
Yes, as I got it, a handshake is doing once per dial.

[2021-06-30 21:49] edwarnicke commented on #1929
@denis-tingaikin It looks like we need to do something that involves option 1 above... but lets try to keep it simple and natural :)

[2021-07-01 08:46] d-uzlov opened #1999 "IP collisions when using more than 1 replica of icmp-responder"
## Overview

When we set `replicas` value for an nse-kernel deployment to more than 1, we create several identical endpoints (=endpoints with the same configuration).

When client makes several requests, and these requests go to different endpoints with the same configuration, these endpoints can give the client the same IP addresses, and second request will overwrite the connection of the first r

[2021-07-01 10:07] denis-tingaikin commented on #1999
I think it is a good issue to consider corner cases of using nsm.
Currently, it seems to me that this issue has low priority so put it into `Backlog`.

[2021-07-01 10:07] denis-tingaikin commented on #1999
cc @edwarnicke

[2021-07-02 09:08] d-uzlov opened #2003 "Sometimes heal continue working indefinitely"
## Expected Behavior

Heal never starts, or stops right after client pod deletion, or at the very least after few minutes after client deletion.

## Current Behavior

Sometimes heal works indefinitely.

## Steps to Reproduce

1. Deploy clients and endpoints.
2. Remove everything.
3. Wait few minutes.
3. Check logs.
4. Repeat until you see messages like `[ERRO] [cmd:Nsmgr] [healServer:processHeal]

[2021-07-02 09:51] d-uzlov commented on #2003
Here are logs from another test run: [nsmgr-2021-07-02T16.36.45+07.00.zip](https://github.com/networkservicemesh/deployments-k8s/files/6753784/nsmgr-2021-07-02T16.36.45%2B07.00.zip) (20 MB)
This time the issue occurred after first run of a test with 50 requests.

[2021-07-03 16:49] edwarnicke opened #2007 "Scale from Zero not using multiple matches"
Why is:

https://github.com/networkservicemesh/deployments-k8s/blob/838d4f09847d885c2f5cd497a0c67a1f7e93c056/examples/features/scale-from-zero/autoscale-netsvc.yaml#L1-L17

Still being done with a single match rather than two matches as specified:

https://github.com/networkservicemesh/sdk/issues/892

I thought we had fixed this already?

[2021-07-03 16:51] edwarnicke opened #2008 "Why is NS name appearing twice in yaml?"
Why is the NS name appearing twice in the yaml

https://github.com/networkservicemesh/deployments-k8s/blob/838d4f09847d885c2f5cd497a0c67a1f7e93c056/examples/features/scale-from-zero/autoscale-netsvc.yaml#L5-L5

and

https://github.com/networkservicemesh/deployments-k8s/blob/838d4f09847d885c2f5cd497a0c67a1f7e93c056/examples/features/scale-from-zero/autoscale-netsvc.yaml#L9-L9

?

I would expect the

[2021-07-03 20:20] denis-tingaikin commented on #2007
@edwarnicke Previously we fixed another problem that you pointed. As I remember it was related to proccesing clientInfo labels. We fixed the problem in https://github.com/networkservicemesh/deployments-k8s/pull/1427/files#diff-01c4adc6e8ef21f0e9bd8be14010662eea9b27225b3a51ded0e39cdb5d0614f4R15

It would be nice to see the expected network service for this scenario. As I understand you mean that it

[2021-07-03 20:25] denis-tingaikin commented on #2008
Nice catch! I think we can fix it in https://github.com/networkservicemesh/sdk-k8s/blob/main/pkg/registry/etcd/nse_server.go#L130

[2021-07-03 20:46] denis-tingaikin commented on #2008
@edwarnicke Could you have look at https://github.com/networkservicemesh/sdk-k8s/pull/196?

[2021-07-05 00:39] edwarnicke opened #2009 "Switch to using annotation for all kernel examples"
Please switch all examples to use the annotations instead of just a bare NSC container with an ENV variable patches in.

[2021-07-05 01:09] edwarnicke opened #2010 "Please add mechanism permutations for interdomain"
Currently interdomain only has Kernel2Vxlan2Kernel, we should test the other permutations as well.

[2021-07-05 02:44] denis-tingaikin commented on #2009
@edwarnicke It is possible for all kernel examples.
Could you say more about how we can change env to annotation for memif, vfio examples?

[2021-07-05 02:59] #2008 closed

[2021-07-05 03:15] d-uzlov commented on #2007
In `discover` server we [select first suitable match](https://github.com/networkservicemesh/sdk/blob/3b8e683e3d9caddf79ec42b335344c1f00dffc97/pkg/networkservice/common/discover/match_selector.go#L59) and then [unconditionally end search](https://github.com/networkservicemesh/sdk/blob/3b8e683e3d9caddf79ec42b335344c1f00dffc97/pkg/networkservice/common/discover/match_selector.go#L72).

So if we were

[2021-07-05 11:20] denis-tingaikin commented on #1887
@richardstone NSM works with k8s v1.17.11 or higher.

[2021-07-05 11:20] denis-tingaikin commented on #1887
So closing this.

@richardstone Be free to reopen the issue if I missed someting!

[2021-07-05 11:20] #1887 closed

[2021-07-05 11:30] denis-tingaikin commented on #2010
Will do!

Currently, we have wireguard support and the issue now makes much sense!

[2021-07-05 11:33] denis-tingaikin commented on #2010
Currently, I see these combinations:
[code]

@edwarnicke Is it enough for the definition of done?

[2021-07-05 14:29] edwarnicke commented on #2007
`roundrobin` should be round robining among candidates.

`discover` discovers candidates.  Round robin selects among them.

If roundrobin is functioning correctly... then the current approach will half the time pick the supplier, even when there's a topological match available.

Only returning the candidates from the first match matched is necessary to correctly implement composition.

This makes

[2021-07-05 14:31] edwarnicke commented on #2010
Yep!

[2021-07-05 15:08] edwarnicke commented on #2009
kernel examples are sufficient :)

[2021-07-05 15:24] denis-tingaikin commented on #2009
OK, now it is clear, thanks!

[2021-07-05 21:20] denis-tingaikin commented on #1929
The root cause is fixed in https://github.com/networkservicemesh/sdk/pull/1005

But I found that the issue can be reproduced via unstable healing. This reproducing periodically.
Tested  a fix https://github.com/networkservicemesh/sdk/pull/1005 without heal and it working fine in 100% cases.

[2021-07-06 08:00] Mixaster995 commented on #2007
@edwarnicke Could you, please, confirm, before i've started changing code, that i understand correctly and we want matches in scale-from-zero example to be like:
[code]

[2021-07-06 09:10] denis-tingaikin commented on #2007
@Mixaster995 It seems to me you have missed `fallthrough`

[2021-07-06 09:36] Mixaster995 commented on #2007
@denis-tingaikin thanks, modified question

[2021-07-06 14:43] edwarnicke commented on #2007
More like:

[code]

[2021-07-06 14:53] #774 closed

[2021-07-08 09:11] glazychev-art opened #2065 "TestRunHealSuite/TestRemote_forwarder_death in not stable"
### Build:
v1.21.1
https://github.com/networkservicemesh/integration-k8s-kind/runs/2997070251?check_suite_focus=true
### Logs
[Containers logs_Remote_forwarder_death.zip](https://github.com/networkservicemesh/deployments-k8s/files/6783191/Containers.logs_Remote_forwarder_death.zip)

[2021-07-08 09:15] glazychev-art opened #2066 "TestRunHealSuite/TestRemote_nsmgr_restart is not stable"
### Build
v1.19.11
https://github.com/networkservicemesh/integration-k8s-kind/runs/3012604125?check_suite_focus=true
### Logs
[Containers logs_Remote_nsmgr_restart.zip](https://github.com/networkservicemesh/deployments-k8s/files/6783217/Containers.logs_Remote_nsmgr_restart.zip)

[2021-07-08 09:47] krishnajs opened #2068 "VPN example and SFC topic on NSM"
Hello, Is there a plan to provide VPN example ?  our team was referring to - https://networkservicemesh.io/docs/examples/vpn/ and it seems to be not available anymore? Also, we noticed SFC is no more listed as a feature on the NSM website.  Apologies if this has been described already. It would be great to get some help on this.

[2021-07-08 20:43] d-uzlov commented on #2003
I think I have found the root cause of the issue.

Let's look at our heal:
When heal server is requested to do heal, it [does it on a heal context](https://github.com/networkservicemesh/sdk/blob/6d7c5b4e2cbcf721d51b8fef8b007ef5c4771441/pkg/networkservice/common/heal/server.go#L269).
This context [doesn't have any timeout, only cancel](https://github.com/networkservicemesh/sdk/blob/6d7c5b4e2cbcf721

[2021-07-08 20:46] d-uzlov commented on #2003
This only happened to me when I created ~50 connections, and nsmgr was CPU limited. Also when I modified the logs in some way, it suddenly stopped happening (I wasn't able to figure out which exactly of my modifications affected it).

[2021-07-08 20:53] d-uzlov opened #2085 "Sometimes Close doesn't reach nsmgr"
When running scalability tests (not yet uploaded) I found an issue with [heal working indefinitely](https://github.com/networkservicemesh/deployments-k8s/issues/2003).
When investigating it, I found that one of the reasons this was happening was that nsmgr never received `Close` for some of the connections.
Logs: [logs.zip](https://github.com/networkservicemesh/deployments-k8s/files/6787185/logs.z

[2021-07-09 09:35] glazychev-art opened #2087 "TestRunHealSuite/TestLocal_forwarder_death is not stable"
### Build
https://github.com/networkservicemesh/integration-k8s-aws/runs/3018628294?check_suite_focus=true
### Logs
[logs-125.zip](https://github.com/networkservicemesh/deployments-k8s/files/6790361/logs-125.zip)

[2021-07-09 09:40] #2007 closed

[2021-07-09 09:45] denis-tingaikin commented on #2007
@edwarnicke Currently NS for scale from zero looks this https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/features/scale-from-zero/autoscale-netsvc.yaml#L1-L19

Be free to reopen issue if we missed something.

[2021-07-09 13:12] d-uzlov commented on #1015
Here is my progress so far:

I have an automated test with the following scenario:
1. Deploy NSM
2. Deploy Prometheus
3. Set test params (numbers E, N, C from the issue description)
4. Generate configs for clients and endpoints
5. Deploy everything
6. Wait for all connections to successfully finish
7. Wait 30 seconds to make sure Prometheus scraped the pods
8. Delete everything
9. Wait 30 seconds

[2021-07-09 13:20] denis-tingaikin commented on #1015
/cc @edwarnicke

[2021-07-09 13:52] denis-tingaikin commented on #1015
It seems to me it is a good a first step. I think we also can measure `Request` latency and ping `latency` in Load.
@edwarnicke, @d-uzlov What do you think?

[2021-07-12 11:04] #1014 closed

[2021-07-13 12:51] Bolodya1997 commented on #2003
Looks like this issue is reproducible only in lack of resources. Even then, if client fails to close the connection until it cancels, heal will be closed by local NSMgr timeout.

There are 2 cases how can we met this issue:
1. Close doesn't reach NSMgr until the NSC Close context timeout happens - https://github.com/networkservicemesh/deployments-k8s/issues/2085.
2. Close reaches NSMgr, but it fai

[2021-07-13 12:59] Bolodya1997 commented on #2085
This is caused by the lack of resources, doesn't look like we can do something here instead of suggesting users to increase CPU limits.

@denis-tingaikin
Thoughts?

[2021-07-13 14:03] Mixaster995 opened #2123 "Rework nse-composition example to not use 'kustomize' directly"
## Issue

Right now script for nse-composition example call `kustomize` directly instead of `kubectl apply -k`, because for some reason yet to be known kubectl command failed to work. Investigate this issue ASAP

[2021-07-13 15:28] denis-tingaikin opened #2140 "Remove name duplication in composition example"
This line can be removed https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/features/nse-composition/nse-composition-ns.yaml#L9.

[2021-07-13 16:02] d-uzlov commented on #1015
An update on current status:

I have improved plot time resolution.
Here are few examples:

<details>
<summary>Local case, 1 service, 1 client, 1 endpoint</summary>

## NSM CPU usage
![nsm-cpu](https://user-images.githubusercontent.com/36223296/125485075-8982e86f-526c-4944-8fec-cad81f571d8e.png)
## NSM memory usage
![nsm-mem](https://user-images.githubusercontent.com/36223296/125485143-b4607738-13

[2021-07-13 16:07] d-uzlov commented on #1015
Also, here is a list of issues that I found while I was running scalability tests:
- https://github.com/networkservicemesh/deployments-k8s/issues/1999 (this one was already mentioned above)
- https://github.com/networkservicemesh/cmd-registry-k8s/issues/158
- https://github.com/networkservicemesh/deployments-k8s/issues/2003
- https://github.com/networkservicemesh/deployments-k8s/issues/2085

This

[2021-07-13 22:35] #1929 closed

[2021-07-14 03:56] glazychev-art opened #2161 "Wireguard feature tests are unstable"
### Build
https://github.com/networkservicemesh/integration-k8s-aks/runs/3061957795?check_suite_focus=true

### Logs
[logs-157.zip](https://github.com/networkservicemesh/deployments-k8s/files/6813395/logs-157.zip)

Output:
[code]

[2021-07-14 13:59] d-uzlov commented on #1015
Another update:

1. There are now 2 separate cases:
- First delete clients and then endpoints. This way heal doesn't happen
- First delete endpoints, and then clients. This way heal always starts for all connections.
2. I think I fixed all issues with the plot appearance.

Here are examples:

<details>
<summary>Local case, 1 service, 15 clients, 1 endpoint, without healing</summary>

## NSM CPU us

[2021-07-15 11:08] Mixaster995 commented on #2123
After some investigation, i think it's not gonna work. For some reason(i think it might be old version of kustomize in kubectl used on ci kind clusters) `kubectl apply -k` not working the same as `kustomize build`.

[2021-07-15 11:41] d-uzlov commented on #1015
Another update:
- I have made few more improvements on plots.
- Also, here is an archive with full data from several test runs: [results.zip](https://github.com/networkservicemesh/deployments-k8s/files/6822770/results.zip)

Few notes from these results:

<details>
<summary>1. I find it very interesting that "15 clients, 5 endpoints" case is much more CPU intensive in healing than "15 clients, 1 en

[2021-07-15 11:48] d-uzlov commented on #1015
I have few more improvements to test scenarios in mind:
1. Currently I check that a client successfully connected by monitoring ip interface list. Maybe it would be more accurate to check logs for request success message, because maybe there could be some delay between interface creation and request success.
2. Currently I create and delete all clients/endpoints at once. Alternatively we can creat

[2021-07-15 11:57] #2140 closed

[2021-07-16 16:18] denis-tingaikin commented on #906
It is not done. It looks like we missed this ticket.

Will do. As I can see we can simply set there 10m https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/spire/server-configmap.yaml#L19

[2021-07-16 17:53] d-uzlov commented on #1015
I made a check for request end, and it seems like requests actually end right after the interface is created. I think it still worth keeping, to check that we don't add elements that delay the request on its way back.

[2021-07-17 17:39] denis-tingaikin opened #2279 "TestRunHealSuite/TestRemote_nse_death is not stable"
Build: https://github.com/networkservicemesh/integration-k8s-gke/commit/a93c7768a672eb0527be2a93e2cd4482377c636b

[2021-07-17 19:13] denis-tingaikin commented on #1638
Currently, I have a working interdomain, but floating interdomain is still stuck in interdomain handshakes.

We internally discussed with @edwarnicke that I can continue my investigation on my return.

[2021-07-19 11:30] d-uzlov commented on #1015
I have added "clients restart" and "endpoints restart" cases.
See linked pull request for details.

[2021-07-19 11:57] d-uzlov commented on #1015
<details>
<summary>Examples of plots after scalability heal test:</summary>

![nsm-cpu](https://user-images.githubusercontent.com/36223296/126156403-103c896b-aafe-4458-932f-fe36f3aebd30.png)
![nsm-mem](https://user-images.githubusercontent.com/36223296/126156411-aaa3697a-f146-4b00-bbec-01dc8a606b65.png)
![test-cpu](https://user-images.githubusercontent.com/36223296/126156415-ed8499ee-8dd7-4f51-8a5

[2021-07-20 05:08] Bolodya1997 commented on #2085
Filed a more detailed issue for this, provided few possible solutions there - https://github.com/networkservicemesh/sdk/issues/1031.

[2021-07-20 05:08] #2085 closed

[2021-07-20 05:12] Bolodya1997 commented on #2003
Made an investigation of NSM work on high load (https://github.com/networkservicemesh/sdk/issues/1031), so here are additional 2 issues for the [2] case:
1. https://github.com/networkservicemesh/sdk/issues/1028
2. https://github.com/networkservicemesh/sdk/issues/1026

[2021-07-20 12:33] edwarnicke commented on #906
@denis-tingaikin Token expirationTime is min(svid expirationTime, now + maxTimeout as set by env variable)... I was suggesting we fix maxTimeout's default value from 24h to 10 minutes, not that we change the Spire svid lifetime.

[2021-07-20 12:36] edwarnicke commented on #1015
@d-uzlov Why is it taking 15 second to establish or heal a connection?  Where are we leaking all that time?  I would expect 100s of milliseconds... not 15 seconds...

[2021-07-20 14:07] edwarnicke commented on #2123
@Mixaster995 Why not?  We really *do* from a usability point of view need to be able to use `kubectl apply -k` ... why is that having issues?

[2021-07-20 14:18] edwarnicke commented on #2068
@krishnajs Its underway :)  Is this what you are looking for: https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/features/nse-composition ?

[2021-07-21 02:54] d-uzlov commented on #1015
I checked it, and I think that the actual reason is that NSEs take some time to start.
It takes ~4 seconds for an nse to get its SVID. If we have some load on the system, this time can probably be higher. Registration of an nse happens almost instantly, but maybe in some runs of the test there could also be some delay.
In the current version of the test I basically wait for the creation of nse con

[2021-07-21 02:56] Mixaster995 commented on #2123
@edwarnicke well, hard to tell the exact cause of issue - right now it working on my local machine kind, but not working on any ci kind setup and the only difference i found is slightly different kubectl version. I will rethink this again and make some changes in test files for it to work with `kubectl apply -k` correctly.

[2021-07-21 05:15] Bolodya1997 opened #2304 "Automerge is broken for the whole CI line"
## Description
`ridedott/merge-me-action` was updated and so now it is failing with the following error:
[code]

## Solution

### Issue in `ridedott/merge-me-action`
Here is the issue filed in `ridedott/merge-me-action` - https://github.com/ridedott/merge-me-action/issues/1008, hope they will fix it in the closest future.

### Temporary decrease using version
This issue was introduced by https://g

[2021-07-21 11:38] d-uzlov commented on #1015
I modified the tests to include more info about how much time each step takes.
<details>
<summary>Here are results for a few runs</summary>

## 1 service, 1 client, 1 endpoint
![nsm-cpu](https://user-images.githubusercontent.com/36223296/126472873-8effc6d5-9fca-4ffc-b5fb-c6cc7cd60e12.png)
![test-cpu](https://user-images.githubusercontent.com/36223296/126472962-ff2f0323-7459-4eaa-8475-9f93e88426bf.

[2021-07-21 11:41] d-uzlov commented on #1015
I don't think that anything in particular in healing takes a lot of time. It's probably just the system as a whole becomes slow, so healing takes much more time than it should.

[2021-07-21 13:09] edwarnicke commented on #1015
@d-uzlov What system are you running on?  Have you tried running this on packet?

[2021-07-21 13:11] edwarnicke commented on #1015
@d-uzlov The thing is... this whole thing looks very very very much like we have some poorly thoughout global Mutex in the NSMgr somewhere...

[2021-07-21 13:12] edwarnicke commented on #1015
@d-uzlov Do you have a sense of how much time we are spending in each component during heal?

[2021-07-21 13:19] Bolodya1997 commented on #2304
Looks like this issue was fixed from their side, just need to restart the CI line and check it.

[2021-07-21 13:21] d-uzlov commented on #1015
My CPU is Ryzen 1700@3.6. I run tests in a WSL2 instance which have 16 GB if RAM.
RAM is never maxed out, but CPU is maxed out in heavy tests. Though, I have a feeling that half of the CPU load could be going into VM stuff and kind management.

Not yet.
We can try taking CPU profile shots but they will likely be messy.
Maybe it would help to run tests with [modified logs](https://github.com/networ

[2021-07-21 13:23] edwarnicke commented on #1015
@d-uzlov I'd suggest you try on packet first and soonest... I'm betting the issue we are chasing is an artifact of your local env (laptops are good, but running a whole cluster in one for perf/scaling is asking a lot).

[2021-07-21 13:23] edwarnicke commented on #1015
@d-uzlov All of that said... you are doing a great job on the graphs and chasing stuff down :)

[2021-07-21 13:26] d-uzlov commented on #1015
Ok, I'll try running the tests on Packet.
I have just read the Vlad found that packet is working fine, so maybe it's really just a local env or kind issue.

[2021-07-21 14:14] #2304 closed

[2021-07-21 14:19] edwarnicke commented on #2161
@artem-belov Have we seen this lately?

[2021-07-22 13:08] d-uzlov commented on #1015
I tried running the tests on packet, and it seems to also have issues with healing.

<details>
<summary>Here's how typical run of scalability heal test looks like</summary>

## Run 1
![nsm-cpu](https://user-images.githubusercontent.com/36223296/126643083-dee1e7d4-aa8b-44b9-86ed-e6fde2f18c51.png)
## Run 2 (failed, heal never succeeded)
![nsm-cpu](https://user-images.githubusercontent.com/36223296/1

[2021-07-22 14:56] #2123 closed

[2021-07-23 12:25] d-uzlov commented on #1015
Here are full logs and profiles from 2 failed runs with high load.
This runs have identical setup but a bit different results.
All profiles describe the period of 60 seconds, starting right after mark `Delete endpoints-0...`.

<details>
<summary>Run 1</summary>

[run_2-netsvc=3-nse=1-nsc=10-remote.zip](https://github.com/networkservicemesh/deployments-k8s/files/6868610/run_2-netsvc.3-nse.1-nsc.10-

[2021-07-26 11:00] glazychev-art commented on #2009
Improvement in logging required:
https://github.com/networkservicemesh/integration-tests/issues/694

[2021-07-26 11:24] d-uzlov commented on #1015
I found out that my modified logs actually broke healing, and that's the reason why it didn't work for me.
However, CPU spikes and long delay for requests are not related to this issue.

<details>
<summary>Here are an example plot and full logs of a scalability heal test run after I fixed my issue:</summary>

[run_4-netsvc=3-nse=1-nsc=10-remote.zip](https://github.com/networkservicemesh/deployment

[2021-07-26 11:29] d-uzlov opened #2367 "Sometimes monitorServer send events with long delay"
When running [scalability tests](https://github.com/networkservicemesh/deployments-k8s/issues/1015) I found out that initial requests have delay up to 1 minute.
Here you can find logs of a test run with this issue: https://github.com/networkservicemesh/deployments-k8s/issues/1015#issuecomment-886616495
If you run `grep "received connection confirmation after"` on forwarder-vpp-dqkxn.log, you can s

[2021-07-26 11:37] d-uzlov opened #2368 "NSM have high CPU usage when errors happen"
When running [scalability tests](https://github.com/networkservicemesh/deployments-k8s/issues/1015) I found out that when heal starts, NSM consume roughly 1 core for each of the connections to heal for several seconds.
CPU profiles, that can be found [here](https://github.com/networkservicemesh/deployments-k8s/issues/1015#issuecomment-886616495), suggest that the CPU load is caused by `log (*group

[2021-07-27 04:25] d-uzlov commented on #2368
I deleted `debug.Stack()` part from span logger and rerun the tests, and it seems to have fixed the CPU load.

[2021-07-27 04:33] d-uzlov commented on #2367
The reason for this behavior is that our monitor server has an array `m.monitors`, and each event is sent sequentially to each of the elements of this array.
Usually each `Send` call is fast. However, sometimes a connection for monitor breaks, and [`filter.Send`](https://github.com/networkservicemesh/sdk/blob/92b282404ca12856deffaa8ddc91b6ba76cd8375/pkg/networkservice/common/monitor/server.go#L126

[2021-07-27 05:23] d-uzlov commented on #2367
Created a proper issue for this:
- https://github.com/networkservicemesh/sdk/issues/1042

[2021-07-27 08:41] d-uzlov commented on #1015
<details>
<summary>Here is an example plot from scalability heal test after I fixed both CPU spikes and request delay issues</summary>

![nsm-cpu](https://user-images.githubusercontent.com/36223296/127123538-5cc0e459-396c-499a-988a-05d9e9a6f062.png)

</details>

In this image we can actually still see relatively long delay before initial requests finish and before heal finishes. This delay is actu

[2021-07-27 10:08] #2367 closed

[2021-07-27 15:00] #906 closed

[2021-07-28 13:39] glazychev-art opened #2376 "TestRunFeatureSuite/TestWebhook is unstable"
### Build
https://github.com/networkservicemesh/integration-k8s-aks/runs/3173423328?check_suite_focus=true

### Logs
[logs-177.zip](https://github.com/networkservicemesh/deployments-k8s/files/6893503/logs-177.zip)

[2021-07-29 04:28] d-uzlov commented on #1015
The issue with `kubectl exec` delay is more or less fixed:

<details>
<summary>Run on local kind</summary>

![nsm-cpu](https://user-images.githubusercontent.com/36223296/127431584-6b68d983-398d-44b5-927f-17fd71f430f5.png)

</details>

<details>
<summary>Run on packet before fix</summary>

![nsm-cpu](https://user-images.githubusercontent.com/36223296/127431609-e03bbbed-469e-4513-9a40-3e68e53f253c.p

[2021-07-30 15:54] damiankopyto opened #2381 "Issue running nse-composition example"
Hello, I am trying the NSM with the nse-composition example but the NSM environment seems to be unstable. The client (nsc-kernel) is stuck in CrashLoopBackOff (with error "cannot support any of the requested mechanism") most of the time, and therefore is not able to ping the endpoint. Other components are also restarting (sometimes with OOM Kill status).

**Environment:**
Ubuntu 20.04 and RHEL 8.4

[2021-07-31 02:44] edwarnicke commented on #2381
@Mixaster995 Could you have a look?

[2021-08-02 08:11] Bolodya1997 opened #2393 "NSM Connection fails if spire-agent restarts on NSC node"
## Expected Behavior
NSM connection shouldn't fail is spire-agent dies for some little time, or should be eventually restored if it dies for a long time.

## Current Behavior
NSM connection fails if spire-agent restart on NSC node:
1. Refresh Request from NSC to NSMgr fails (NSC -> NSE network connection still exists).
2. Healing from NSC to NSMgr fails (NSC -> NSE network connection fails).

## S

[2021-08-02 08:23] Bolodya1997 commented on #2393
Seems to be related to https://github.com/networkservicemesh/deployments-k8s/issues/1929.

[2021-08-03 08:16] d-uzlov opened #2410 "Some deployments don't have version specified"
In Kubernetes when image version is specified as `:latest` or not specified, `imagePullPolicy` defaults to `Always`. This prevents image caching, potentially increasing startup time for pods. We should either specify image version or explicitly set `imagePullPolicy` to `IfNotPresent`.

References:
https://kubernetes.io/docs/concepts/containers/images/#updating-images
https://kubernetes.io/docs/con

[2021-08-03 12:57] Bolodya1997 opened #2412 "TestRunFeatureSuite/TestDns test is unstable"
## Logs
https://github.com/networkservicemesh/integration-k8s-kind/runs/3225731571?check_suite_focus=true

[2021-08-08 07:01] denis-tingaikin commented on #2412
@Bolodya1997 Could you please provide your investigation result?

[2021-08-09 04:57] Bolodya1997 commented on #2412
1. Container has such initial setup:
[code]
2. After `cmd-nsc-init` started it has the following setup:
[code]
[code]
3. After `cmd-nsc` started it has the following setup:
[code]
[code]

Because of `ndots:5` set by default `ping my-coredns-service` results in following DNS queries:
1. my-coredns-service.a.com -> 127.0.0.1
2. my-coredns-service.b.com -> 127.0.0.1
3. my-coredns-service.c.d.com -> 1

[2021-08-09 06:29] denis-tingaikin commented on #2393
Don't quite follow how it is related to #1929. Could you say more?

[2021-08-09 06:34] denis-tingaikin commented on #2412
@Bolodya1997

OK, got it.

Please note: we want to have on `cmd-nsc` started have this section for any queries:
[code]
It is critical.

Please let me know if I can continue with on this issue OR please apply fixes in https://github.com/networkservicemesh/sdk/pull/1054

[2021-08-09 06:39] Bolodya1997 commented on #2412
Why do we need it?

[2021-08-09 06:59] denis-tingaikin commented on #2412
@Bolodya1997
Please see at Specification of https://github.com/networkservicemesh/networkservicemesh/blob/master/docs/spec/dns-integration.md#specification

[2021-08-09 07:52] Mixaster995 commented on #2381
@damiankopyto thanks for your report.
Could you, please, provide additional information:
- are you testing this locally on kind or somwhere else?
- what are your system configuration (memory, cpu, etc.)?
- could you, please, provide additional logs for all components of this example(nsc, nse, passthrough1,2,3, firewall, forwarder, nsmgr) and also previous logs (result of
`kubectl logs --previous`)

[2021-08-09 08:02] #2412 closed

[2021-08-10 09:58] Mixaster995 commented on #2381
Retested this case on kind 1.21.
Tested with different resources: 4 cpus and 2,4,6,8gb memory
Provided errors with CrashLoopBackOff never occurred. With 2gb or less memory cluster not working(it is expected behaviour).
@damiankopyto, please add some additional info to recreate this issue.

[2021-08-10 11:17] denis-tingaikin commented on #2368
Seems like fixed by https://github.com/networkservicemesh/sdk/pull/1053

[2021-08-10 11:17] #2368 closed

[2021-08-10 12:11] damiankopyto commented on #2381
Hi @Mixaster995
Sorry for late response I needed to recreate my environment
- I am testing locally, on a baremetal server.
- Ubuntu 20.04, 500GB+ RAM, 128 CPUs (HT-on)
- Attaching the logs for current/previous logs for all components (some of the did not have previous logs) in the zip file.
- I have accidentally deployed on K8s v1.20.0 this time but I see the same issue, let me know if I should do

[2021-08-11 08:41] Mixaster995 commented on #2381
After some tests it seems like it's related to problem with spire restarts:  https://github.com/networkservicemesh/deployments-k8s/issues/2393
@damiankopyto could you, please, retest this after this problem will be fixed.

[2021-08-11 10:29] damiankopyto commented on #2381
@Mixaster995 Sure will do, do you know the rough timeline for a fix?
Just on the topic of the spire restarts, I do not see my spire pods restarting, is the spire restart something internal within the spire pod that does not affect the life of the pod?

[code]

[2021-08-11 10:53] #2087 closed

[2021-08-11 10:53] #2065 closed

[2021-08-12 08:53] glazychev-art commented on #2376
We also need to increase `NSM_REQUEST_TIMEOUT` because we are waiting for the pulling `postgres` image for `nse`.

[2021-08-12 08:55] glazychev-art commented on #2376
blocked by discussion here: https://github.com/networkservicemesh/cmd-admission-webhook-k8s/pull/18

[2021-08-16 04:26] Bolodya1997 commented on #2279
Fixed by https://github.com/networkservicemesh/deployments-k8s/pull/2541.

[2021-08-16 04:26] #2279 closed

[2021-08-18 11:18] Mixaster995 opened #2672 "Use URLs in kustomize"
## Description
We can use `kustomize` feature of using urls as base instead of manually creating kustomization files in bash scripts in examples.

[2021-08-18 11:22] Mixaster995 opened #2673 "Improve user experience with examples"
## Description
Remove unnecessary bash scripts where it is possible and move more things into files to improve user experience with examples.

[2021-08-19 04:03] Bolodya1997 opened #2689 "DNS test sometimes fails with error"
## Expected Behavior
DNS test shouldn't fail.

## Current Behavior
DNS test is failing sometimes.

## Failure Logs
https://github.com/networkservicemesh/integration-k8s-aws/actions/runs/1139784778

[2021-08-19 04:07] Bolodya1997 commented on #2689
## Most possible cause
`ping` have a timeout for making a DNS lookup, if DNS server doesn't perform an answer in `~1ms`, ping returns with `bad address` error. So that can be a problem for the public clouds if k8s nodes are located on different physical nodes.

## Solution
We can use `cache` coredns plugin, so it will reduce the latency of the subsequent `ping` calls:
1. Client calls `ping`
2. Cli

[2021-08-19 07:57] Mixaster995 opened #2690 "Re-test NSE composition"
## Desription

In nse-composition example if client restarts everything doesn't seem to work properly.

[2021-08-23 10:50] #2689 closed

[2021-08-24 15:26] denis-tingaikin opened #2754 "Migrate 4G Network Topology example from nsm/examples"
We need to migrate https://github.com/networkservicemesh/examples/tree/master/examples/4g-network exampel from old styled NSM to the multirepo nsm. The example can be useful for the folks.

It seems to me all functional parts for this are done and we need to just re-create the example line by line.

See at source https://github.com/networkservicemesh/examples/tree/master/examples/4g-network in dep

[2021-08-26 13:35] Bolodya1997 opened #2766 "Spire failure causes NSMgr/Forwarder liveness probe failures"
## Expected Behavior
NSMgr, VPP Forwarder liveness probes should fail and restart the pod only if there is some problem with the NSMgr, VPP Forwarder application.

## Current Behavior
If spire server/agent freezes for some time or restarts for a long time, NSMgr, VPP Forwarder liveness probes fail and restart pods.

## Possible solution
We can start additional gRPC server on some `unix:///health.s

[2021-08-29 22:13] denis-tingaikin opened #2792 "Add loadbalancer integration for interdomain and floating interdomain examples"
To be able to use cluster-level accessible services we could provide an example of setting up an ingress interface with kind clusters for NSM interdomain and floating interdomain scenarios. It will also simplify setting up DNS for interdomain and floating interdomain scenarios and allow us to use DNS instead of hardcoded IPs in the spire federation examples.

[2021-08-29 22:14] denis-tingaikin commented on #1638
We want to simplify spire examples with DNS and for this, we need to complete https://github.com/networkservicemesh/deployments-k8s/issues/2792

[2021-08-30 04:34] glazychev-art commented on #2161
If we look at the logs, the problem was related to: https://github.com/networkservicemesh/sdk/issues/1048

Close this issue

[2021-08-30 04:34] #2161 closed

[2021-08-30 13:35] denis-tingaikin opened #2800 "TestRemote_nsmgr_restart/TestRunHealSuite is unstable on GKE"
## Descritpion

scenario https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/heal/remote-nsmgr-restart#remote-nsmgr-restart is unstable on ci.

## Steps to reproduce

1. Run TestRunHealSuite a few times on GKE (probably can be reproduced on kind)

## Logs
[code]
## Build

https://github.com/networkservicemesh/integration-k8s-gke/runs/3459839009

## Artifacts

[artifacts.zip](h

[2021-08-30 13:37] denis-tingaikin commented on #2800
@edwarnicke Should we consider this or we should wait for reworking heal with `begin`? Please share your thoughts.

[2021-09-01 06:58] denis-tingaikin opened #2818 "Use spire registrator instead of manual entry registration for NSM examples"

[2021-09-01 07:42] jkossak commented on #2381
Hi @edwarnicke @Mixaster995 have you made any progress on this issue? Are you going to provide a fix to eliminate the restarts errors from nsm-system pods and the example pods? If yes when I can expect it roughly?

[2021-09-01 08:08] denis-tingaikin opened #2822 "Find and fix all issues with integration tests related to `begin` chain element update"
## Description

Currently all tests are unstable. Cause https://github.com/networkservicemesh/sdk/pull/1072

Builds:
1. https://github.com/networkservicemesh/integration-k8s-kind/pull/367
2. https://github.com/networkservicemesh/cmd-forwarder-vpp/pull/333

So we need to find and fix all issues related to `begin` that make CI red.

[2021-09-02 14:32] denis-tingaikin commented on #2822
Thanks, @glazychev-art!

[2021-09-02 14:32] #2822 closed

[2021-09-06 04:47] Mixaster995 commented on #2381
Hi @jkossak. Thank you for very detailed description, it is really helpful. I've just returned from PTO and continued investigating this issue and will provide the answers as soon as possible.

[2021-09-06 15:42] jkossak commented on #2381
Hi @Mixaster995 , thank you for getting back to me. Great to hear you are working on it.

Just to add some more info about this issue, here is the output of dmesg:

[dmesg.txt](https://github.com/networkservicemesh/deployments-k8s/files/7116723/dmesg.txt)

Today I tried the example again after pulling the latest changes. All worked for about  10 minutes (despite few restarts of nsc-kernel and nsmg

[2021-09-07 07:59] #2410 closed

[2021-09-07 12:11] denis-tingaikin commented on #2792
Finally found that a load balancer is a simpler and natural way for this

[2021-09-07 13:09] #2792 closed

[2021-09-09 11:46] Mixaster995 commented on #2381
Hi @jkossak, hugepages not required for VPP to work - it's working fine without it. AFAIK, it is might be needed for some specific features, but we not using those.

[2021-09-09 13:29] edwarnicke commented on #2381
@jkossak VPP *can* use hugepages.  If VPP *can't* get hugepages, it will log a very nasty message and keep on working to the best of its ability.

[2021-09-09 14:05] jkossak commented on #2381
Thank you @edwarnicke and @Mixaster995 for answering my question, so this message I am seeing is actually expected and normal:
[code]

[2021-09-12 15:40] #1638 closed

[2021-09-13 16:39] jkossak commented on #2381
Hi @edwarnicke, @Mixaster995 , I increased the value of the NSM_REQUEST_TIMEOUT environment variable to 160s , but it was already set to 75s by default in examples/features/nse-composition/patch-nsc.yaml

I still  observe the instability of the cross-connection that breaks after 2 - 3 minutes, and resumes from time to time for another couple of minutes.

The pods after few minutes:
[code]

[2021-09-13 18:59] Mixaster995 commented on #2381
Hi, @jkossak. We found possible source of the problem - with some logic turned off wrong behaviour doesn't occur anymore. Now trying to find the solution for this parts.

[2021-09-14 09:32] jkossak commented on #2381
Thank you @Mixaster995 for letting me know.

[2021-09-15 11:07] Mixaster995 opened #2879 "wget check in nse-composition example is unstable"
## Description
When trying nse-composition example(https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/features/nse-composition/README.md) wget

## Possible cause
Problem could be related to applying acl rules in vpp in refresh-request - https://github.com/networkservicemesh/sdk-vpp/blob/main/pkg/networkservice/acl/server.go#L60

[2021-09-16 09:27] Mixaster995 commented on #2381
Hi, @jkossak.
Could you, please, try nse-composition example with images i've prepared:
https://hub.docker.com/r/mixaster95/forwarder for forwarder-vpp
https://hub.docker.com/r/mixaster95/firewall for nse-firewall-vpp, passthrough-1, passthrough-2, passthrough-3

It would be great, if you let me know if everything is ok or if there is still instability/errors. Thank you.

[2021-09-16 10:41] jkossak commented on #2381
Thanks @Mixaster995 , I will try the example with the new images today and let you know how it goes then.

[2021-09-16 14:22] jkossak commented on #2381
Hi @Mixaster995, I steel see the pods crashing.
[code]

The cross connection breaks even faster:

[code]

[2021-09-16 14:29] edwarnicke commented on #2381
@Mixaster995 Could you provide images that simply disable directmemif for the moment for @jkossak  to try?

[2021-09-16 15:25] jkossak commented on #2381
@Mixaster995, @denis-tingaikin, I increased nsmgr memory limit to 100Mi (from 60Mi) and all worked for 20 minutes. But started crashing again:

[code]

[code]

I noticed nsmgr used memory is increasing starting from ~40 to:

[code]

Here are the nsmgr logs:
[2.log](https://github.com/networkservicemesh/deployments-k8s/files/7179061/2.log)
[3.log](https://github.com/networkservicemesh/deployments-k

[2021-09-16 16:23] denis-tingaikin commented on #2381
Cannot find a reason for nsmgr restart.
Did you use `-p` option on getting logs?

[2021-09-16 16:34] jkossak commented on #2381
@denis-tingaikin, I took the logs again with -p `kubectl logs -f -p nsmgr-7jlhh -n nsm-system`

I wonder why the pod's memory increases always up to its limit - then kernel kills the process as it is shown by dmesg.

[dmesg.txt](https://github.com/networkservicemesh/deployments-k8s/files/7179481/dmesg.txt)
[nsmgrlogs.log](https://github.com/networkservicemesh/deployments-k8s/files/7179453/nsmgrlog

[2021-09-16 18:03] edwarnicke commented on #2381
@Mixaster995 Question... how was the issue with nsmgr memory traced back to an issue with direct memif in the forwarder?
It is a counter intuitive root cause... curious the chain of reasoning.

[2021-09-17 11:12] Bolodya1997 commented on #2381
@jkossak
Are you running tests each time restarting `spire` pods? If so, I suppose we have reproduced your issue locally and it is actually related to the same old issue https://github.com/networkservicemesh/deployments-k8s/issues/2393 which is not yet fully fixed :)

Can you please try one more time with the following images:
1. `nsc-kernel` - `rrandom312/cmd-nsc:rework-connect`.
2. `nsmgr` - `rr

[2021-09-17 11:22] Bolodya1997 commented on #2381
@edwarnicke
We actually have found several issues during our investigation:
1. `cmd-nse-firewall-vpp` heal leads to panic - https://github.com/networkservicemesh/cmd-nse-firewall-vpp/pull/62.
2. Direct memif works incorrect and leads to `up` client infinite waiting on refresh - https://github.com/networkservicemesh/sdk-vpp/pull/377.
3. Tokens become invalid after the SVID update on timeout - https

[2021-09-17 12:05] jkossak commented on #2381
Hi @Bolodya1997, before running the tests I always restart nsm-system pods,  and usually, I restart spire pods but not always. From my observation pods in the spire namespace behave stable (0 restarts) so some times I don't restart it and I encounter the same issues with nsmgr and other nsm pods.

I will run the example with the new images now, thanks.

[2021-09-17 12:43] jkossak commented on #2381
@Bolodya1997, so far the example with the images you provided have been running over 20 minutes.  I do observe restarts of nsmgr after its termination (OOMKilled) but the cross-connection seems not to be broken.  There is no more restarts among other nsm pods.

[code]

[2021-09-17 13:07] jkossak commented on #2381
@Bolodya1997, after 27 minutes the cross connection stopped working, but the pods look like before:

[code]

Let me know if you need any logs.

[2021-09-17 17:52] Bolodya1997 commented on #2381
@jkossak

You are totally right - in common there is absolutely no reason for restarting `spire` pods, but this case is caused by SVID update for the `nsm-system` namespace, which keeps happening with 20 minutes period all the time while `spire` pods are working. So restarting `spire` pods in such case can give us more meaningful result of setup failures (or absence of failures).

Are you testing

[2021-09-20 08:52] Bolodya1997 commented on #2381
@jkossak
There is no more need for this:

I can see all NSM applications leaking memory somewhere in gRPC, working on this.

[2021-09-23 12:17] #2393 closed

[2021-09-23 15:12] tiswanso opened #2929 "host networking pods should be deployed with dnsPolicy set"
Unless there's a specific reason not to, host networking pods should have their dnsPolicy set to `dnsPolicy: ClusterFirstWithHostNet` to allow the executables in the pods to leverage kube-dns.

The triggering example scenario for this issue is enabling Jaeger tracing in the cmd-forwarder-* pods.  Found during https://github.com/networkservicemesh/cmd-forwarder-vpp/issues/344

[2021-09-23 16:09] edwarnicke commented on #2929
@denis-tingaikin Could we get someone on this?

[2021-09-27 10:45] denis-tingaikin commented on #2929
I thought it should work by default. For example, our nsmgr is already using the registry service name instead of IP and it is just working without dnsPolicy https://github.com/networkservicemesh/deployments-k8s/blob/main/apps/nsmgr/nsmgr.yaml#L32

@tiswanso Could you provide steps to reproduce?

[2021-09-27 13:42] tiswanso commented on #2929
Kubernetes docs are pretty explicit on using `ClusterFirstWithHostNet` for host networking pods:
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy

To repro, you can test with the patch for networkservicemesh/cmd-forwarder-vpp#344 and the info in https://github.com/tiswanso/deployments-k8s/tree/fix-jaegerenv/examples/features/jaeger

The forwarder pod will t

[2021-09-28 14:10] #2672 closed

[2021-09-29 07:30] #2929 closed

[2021-09-29 08:49] Bolodya1997 opened #2992 "Create script for switching between local files and github refs"
## Description
After merging https://github.com/networkservicemesh/deployments-k8s/issues/2672 it becomes very hard to debug deployments locally with own files, because all refs should be manually replaced with local files paths.

## Requested solution
Create `.sh` scripts for switching between local file mode and github refs mode in both directions.

[2021-09-29 10:42] jkossak commented on #2381
Hi @Bolodya1997, please let me know once your fixes are ready so I can test them on our setup .

[2021-09-29 12:31] Bolodya1997 commented on #2381
Hi @jkossak, it is almost ready, just waiting for the few last PRs to be merged.
1. PR fixing memory leaks - https://github.com/networkservicemesh/sdk/pull/1090
2. PR tuning memory limits - https://github.com/networkservicemesh/deployments-k8s/pull/2991

Will update you once it will be done.

[2021-09-29 15:06] edwarnicke commented on #2992
Could we do it without a .sh ?  Say with something simple and go-ish ?

[2021-09-29 16:00] denis-tingaikin commented on #2381
@jkossak , @Bolodya1997 All PRs merged :)

@jkossak Be free to re-test this with latest images and let us know about any errors/issues/restarts and so on.

[2021-09-30 16:58] jkossak commented on #2381
Thanks @Bolodya1997 for the update.
I tested the example with all the latest changes on our setup and it is far more stable. Although, there are still some restarts visible - mainly related to nsmgr.  Even with the restarts the cross connection was working for almost two hours, but eventually crashed and then other pods started crashing more often. This is how it looks now:

[code]
Here are the lo

[2021-10-04 09:14] Bolodya1997 commented on #2992
Looks like it cannot be done with simple `sed` line, because for some places we need relative paths and just cannot use absolute ones.

I have tried with the both cases, looks like using `grep` for iterating over files containing some expression and using `sed` for inline replacements is easier than doing the same things in `go`.
It actually differs in `80+` go lines vs `30` bash lines.

[2021-10-04 09:59] Bolodya1997 opened #3053 "Request in NSE Composition example takes up to 15 seconds"
## Issue
Request in NSE Composition example takes up to 15 seconds (even in refresh case).

## Analysis
Added extra logs to capture more detailed information about time spent in different chain elements.
[result.zip](https://github.com/networkservicemesh/deployments-k8s/files/7277118/result.zip)

Captured results with existing CPU limits:

1. Local NSMgr:
[code]
2. Remote NSMgr:
[code]
3. Forwarde

[2021-10-04 10:00] Bolodya1997 commented on #3053
@denis-tingaikin @edwarnicke
cc

[2021-10-04 10:28] denis-tingaikin commented on #3053
@Bolodya1997 Did you test it on packet? Can we also test it on kind?

[2021-10-04 10:32] Bolodya1997 commented on #2381
@jkossak
Looks like we most probably need different memory limits for the different environment. Can you please run example without any memory limits, so we will be able to measure requirements for your setup?

Steps:
1. Checkout this version of deployments - https://github.com/Bolodya1997/deployments-k8s/tree/test-composition.
2. Start NSE composition example.
3. Leave it for 2 hours.
4. Capture

[2021-10-04 12:44] edwarnicke commented on #2992
@Bolodya1997 Yep, I saw that in your PR :)

[2021-10-04 12:48] edwarnicke commented on #3053
@Bolodya1997 Any idea why the authorize is taking so much longer for the Forwarder:

[code]

[2021-10-05 06:12] Bolodya1997 commented on #3053
It is related to the length of the path, so performing N-th authorize check during the Request is longer than first or second authorize check. But I have no idea why it is so different between the NSMgr and the Forwarder, it probably should be further investigated in a separate issue.

[2021-10-05 06:38] Bolodya1997 commented on #3053
Yes, it can be compared:
| | refresh Request CPU limited | refresh Request CPU unlimited|
|-|-|-|
|packet| `14s-16s` | `4s-5s` |
|kind| `9s-11s` | `5s-6s` |

[2021-10-06 15:05] pperiyasamy opened #3072 "spire pod fails to start due to no persistent volumes available error"
Not able to get NSM deployment up and running due to spire deployment issue.
This happens on a baremetal K8s v1.21.0 cluster.

This is blocking to test #3063

Here are the logs for the spire deployment.

[code]

Looks this PR #2898 causes this regression.

[2021-10-06 15:14] edwarnicke commented on #3072
@Mixaster995 @denis-tingaikin  Thoughts?

[2021-10-08 11:25] jkossak commented on #2381
@Bolodya1997  today I noticed few restarts of nsmgr  happened in the same deployment (without memory limit). Nevertheless the cross connection seems to be working fine at the moment.

[code]

Here is the output from: kubectl describe pod nsmgr-njs28 -n nsm-system
[describe_nsmgr_pod.txt](https://github.com/networkservicemesh/deployments-k8s/files/7310805/describe_nsmgr_pod.txt)

The output does no

[2021-10-08 11:46] Bolodya1997 commented on #2381
@jkossak
Looks like the reason of the restarts is related to liveness probe failed, we already have an issue for this in backlog (https://github.com/networkservicemesh/deployments-k8s/issues/2766). So currently we want to measure memory limits on your setup to become sure that we will cover it in deployments :)

[2021-10-08 11:50] jkossak commented on #2381
@Bolodya1997 sure, I will retry with https://github.com/Bolodya1997/deployments-k8s/tree/test-composition,  leave it running for the weekend and let you know on Monday the results.

[2021-10-12 09:57] Bolodya1997 commented on #2381
@jkossak
Your logs are very helpful, thank you!
High memory usage in client is unexpected and unfortunately I haven't add `pprof` in client deployment I have provided. But it looks like I can reproduce this on my local single node setup, so this is currently in progress.

[2021-10-12 20:19] denis-tingaikin opened #3138 "ipv6/Memif2Wireguard2Kernel is not working as expected"
## Steps to reproduce

1. Run Memif2Wireguard2Kernel from ipv6 suite (!note do not run full suite)

Actual: Test fails due to ping fails
Expected: Test passes

## Failure information
[code]
[code]

## Logs
[logs.zip](https://github.com/networkservicemesh/deployments-k8s/files/7332920/logs.zip)

## Context

Reproducible on AKS, kind

[code]

[2021-10-15 08:24] glazychev-art opened #3192 "Automerge fails on ci"
### Description
https://github.com/networkservicemesh/deployments-k8s/runs/3892979017?check_suite_focus=true

### Problems
1. Current `checkout` in automerge uses `main` branch instead of `PR` branch.
Possible solution: Use `workflow_call` instead of `workflow_run`

2. We need to check diffs for `HEAD` and `HEAD^`, not for `HEAD` and `main`

[2021-10-21 07:59] nathanawmk opened #3231 "As NSM sits on the layer 3 of the OSI model (the network layer), is IPSec VPN used for communication across the public network?"
As NSM sits on the layer 3 of the OSI model (the network layer), is IPSec VPN used for communication across the public network?

[2021-10-22 09:15] Mixaster995 opened #3236 "Update spire registrator when spire 1.1.0 will be released"
## Description

Currently spire registrator not working for kubernetes >=1.22 because of old api it uses.

## Solution

When spire release 1.1.0 will be released,
update spire-registrator and test it on all supported kubernetes version, including >= 1.22

[2021-10-27 07:26] #3236 closed, assigned to Mixaster995

[2021-11-01 07:23] Bolodya1997 commented on #2381
@jkossak, have you tried to rerun the test again? Is it an every-time failure or it can probably be a some intermittent error?

I am not able to reproduce this issue locally, mostly it looks like some invalid behavior of the web server used in the admission webhook. If it is a first and only test run on the new branch, can you please retry the test? If not, please tell me and we will continue tryi

[2021-11-02 07:36] #3192 closed

[2021-11-02 10:19] jkossak commented on #2381
@Bolodya1997 , yes I tried to rerun the test many times now, from different branches, also  https://github.com/Bolodya1997/deployments-k8s/tree/test-composition and test-composition-new - always the same result.

[2021-11-03 05:53] Mixaster995 opened #3375 "Fix empty pr number in nsm-bot pr message"
## Description
in deployments-k8s pr reference has incorrect pr number. For example here: https://github.com/networkservicemesh/deployments-k8s/pull/3338
Think of a way to fix this

[2021-11-06 14:24] denis-tingaikin opened #3437 "Please use metadata.Labels in nse-composition example"
We should use there
https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/features/nse-composition/passthrough-1.yaml#L25 a ref to https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/features/nse-composition/passthrough-1.yaml#L13-L14

## Solution

1. Add to NSM_LABELS ref to  https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/features/

[2021-11-08 05:56] #3375 closed

[2021-11-08 06:24] denis-tingaikin commented on #3437
## Defenition of done

Check all places where is using labels and make sure that every place is using labels from the metadata.

[2021-11-13 11:27] denis-tingaikin opened #3677 "Remove increased NSM_REQUEST_TIMEOUT in heal tests"
## Motivation

Currently, nsm clients have `retry` and we do not need to use increased request timeout in heal tests.

## Solution

Delete NSM_REQUEST_TIMEOUT for each patch for nsm applications in heal tests.

https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/heal

[2021-11-15 09:05] #3677 closed

[2021-11-16 11:04] Mixaster995 commented on #3437
Initial solution was not working, so reverted it. Use `downwardAPI` to fix it

[2021-11-16 14:03] edwarnicke commented on #3437
I'm a bit confused as to what we are doing here and why.  It looks like we are trying to pull from the Pod labels into the NSM_LABELS... but I don't understand why we are trying to do that.

@denis-tingaikin Could you explain?

[2021-11-16 15:26] denis-tingaikin commented on #3437
In my mind, it can look for users more simply than adding additional labels via env.

[2021-11-16 15:27] denis-tingaikin commented on #3437
@edwarnicke I'm fine if you're ok with the current separated labels list.

[2021-11-16 21:30] denis-tingaikin commented on #3437
We don't need this for now. Closing.

[2021-11-16 21:30] #3437 closed

[2021-11-22 10:50] denis-tingaikin commented on #2381
The initial problem with pings after long NSM running is solved.

We also found a few issues that we'll consider separately.

1. ticket for cmd-exclude-prefixes-k8s  https://github.com/networkservicemesh/cmd-exclude-prefixes-k8s/issues/64
2. ticket for probes: https://github.com/networkservicemesh/deployments-k8s/issues/2766

@jkossak Many thanks for testing this. It was a super useful contributio

[2021-11-22 10:50] #2381 closed

[2021-11-22 11:09] denis-tingaikin opened #3771 "cmd-nsc-kernel and cmd-nse-kernel can be restarted after a long NSM running"
## Steps to reproduce
1. Run kernel2vxlan2kernel or kernel2kernel or nse-composition example
2. Do not clean up it in 24h
3. Run `kubectl get pods --all-namespaces`

Actual: nsc-kernel has restart count > 0. nse-kernel has restart count >0. Dataplane is fine.
Expected: All work fine without container restarts

## Logs
Provided by @jkossak
[nse-kernel-1.log](https://github.com/networkservicemesh/de

[2021-11-25 00:09] denis-tingaikin commented on #2766
Waiting for tests results

[2021-11-25 09:31] Mixaster995 opened #3872 "Spire agent restarts"
## Description

Actual: sometimes spire agent restarts
Expected: spire agent working without restarts

## Logs

logs from spire-agent:

[code]

[2021-11-26 12:35] #2879 closed

[2021-11-29 07:10] #2766 closed

[2021-11-29 07:10] #3771 closed

[2021-11-29 08:00] Mixaster995 commented on #477
@edwarnicke, @wchenxing do you have any updates on this?

[2021-11-29 08:39] Mixaster995 commented on #1353
close with https://github.com/networkservicemesh/deployments-k8s/pull/3377

[2021-11-29 08:39] #1353 closed

[2021-11-29 20:18] denis-tingaikin opened #3938 "Registry-k8s can be restarted in 72h of work"
Reported by @damiankopyto

[2021-11-29 20:25] denis-tingaikin commented on #3938
Logs are so huge. See them in cncf slack https://cloud-native.slack.com/archives/CHSKJ4849/p1638199351097400?thread_ts=1635845380.017500&cid=CHSKJ4849

[2021-11-29 20:26] denis-tingaikin commented on #3938
Start and end of logs:

[code]

[2021-11-30 07:30] denis-tingaikin opened #3940 "Add example on selecting forwarder by capability"
We got `p2mp` and now we can show how to select forwarder by capability within network service declaration!

[2021-12-02 06:42] Mixaster995 opened #3954 "Add more floating interdomain/interdomain examples(IP payload)"
Add wireguard examples(examples similarly to vxlan) for interdomain scenarios and test it

[2021-12-06 02:38] Mixaster995 opened #3986 "Incorrect log-level in admission-webhook clients"
## Description
`admission-webhook-k8s` sets log level of created clients to `INFO` which is no use. It is required to pass correct log level (`TRACE`) through envs in deployments-k8s.

[2021-12-06 07:21] #3986 closed

[2021-12-07 03:25] Mixaster995 commented on #2009
closed with https://github.com/networkservicemesh/deployments-k8s/pull/3663

[2021-12-07 03:25] #2009 closed

[2021-12-07 14:58] #3940 closed

[2021-12-07 21:08] denis-tingaikin opened #4008 "TODO: Remove single route from example 'select forwarder'"
Remove routes from https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/features/select-forwarder/service.yaml#L11 before release

## Required

https://github.com/networkservicemesh/sdk/pull/1194

[2021-12-12 19:30] #3954 closed

[2021-12-13 22:36] denis-tingaikin opened #4053 "Add links checker job for deployments-k8s"
## Motivation

We need to check that all links from our examples are correct and users can use our examples without problems.

## Solution

1. See at PR from @edwarnicke https://github.com/networkservicemesh/deployments-k8s/pull/4048
2. Research similar links action that will allow to skip/validate links that `contains` ref parameter.

If there are no such link check actions then consider contribu

[2021-12-23 10:52] #4053 closed

[2021-12-28 21:51] denis-tingaikin opened #4194 "Some of tests with webhook are not cleaning the webhook"
## Description

Currently, sometimes we see issues with prefetch:

[code]

https://github.com/networkservicemesh/integration-k8s-aws/pull/225

## Root cause

Actually, we have a webhook instance from the prev test on prefetch (See at build logs https://github.com/networkservicemesh/integration-k8s-aws/pull/226).

[code]

https://github.com/networkservicemesh/deployments-k8s/pull/3663/commits/8e7e0

[2021-12-29 08:34] #4194 closed

[2021-12-30 12:25] glazychev-art opened #4219 "`TestRemote_nsm_system_restart_memif_ip` is not working"
### Build
https://github.com/networkservicemesh/integration-k8s-kind/actions/runs/1636782686

### Logs
[logs_kind.zip](https://github.com/networkservicemesh/deployments-k8s/files/7792914/logs_kind.zip)

[2022-01-11 09:50] glazychev-art opened #4247 "Heal tests Registry + Endpoint (Forwarder) is not stable"
### Description
Will be solved after - https://github.com/networkservicemesh/sdk/issues/1170

### Build
https://github.com/networkservicemesh/integration-k8s-kind/runs/4760113064?check_suite_focus=true

### Logs
See:
v1.18.15 - `TestRunHealSuiteSingle/TestRegistry_local_endpoint`
v1.22.1   - `TestRunHealSuiteSingle/TestRegistry_remote_forwarder`

[heal_logs.zip](https://github.com/networkserviceme

[2022-01-11 09:51] glazychev-art commented on #4219
Done. The problem was related to `memif` interfaces

[2022-01-11 09:51] #4219 closed

[2022-01-11 10:18] glazychev-art opened #4248 "TestRemote_nsm_system_restart_memif_ip is not stable"
### Description

Sometimes wireguard chain element doesn't receive `WIREGUARD_PEER_ESTABLISHED` event after `nsm-system` restart
https://github.com/networkservicemesh/sdk-vpp/blob/main/pkg/networkservice/up/peerup/common.go#L83-L99

### Build
https://github.com/networkservicemesh/integration-k8s-kind/runs/4760113155?check_suite_focus=true

### Logs
See v1.20.7 - `TestRunHealSuiteSingle/TestRemote_

[2022-01-11 15:05] glazychev-art commented on #4248
Part of - https://github.com/networkservicemesh/sdk/issues/1196

[2022-01-17 11:03] NikitaSkrynnik opened #4267 "Consider switching to operators in observability example"
## Description
Consider using Jaeger, Prometheus and OpenTelemetry Operators in observability example.

## Steps to reproduce
Run commands from README.md file from zip. [opentelemetry-operators.zip](https://github.com/networkservicemesh/deployments-k8s/files/7881290/opentelemetry-operators.zip)

## Bugs
Jaeger and Prometheus operators conflict with each other somehow. Work fine separately.

[2022-01-17 11:12] NikitaSkrynnik opened #4268 "Remove "pkill -f 'port-forward'" command from observability example"
## Description
Port-forwarding processes run in the background and are not deleted at the end of the test. `pkill -f 'port-forward'` removes these processes. Consider using Load Balancer to avoid port-forwarding.

[2022-01-18 02:35] denis-tingaikin opened #4271 "Solve Fan-in releasing issue for deployments-k8s repository"
## Spec

https://docs.google.com/document/d/1woXa10W2_uoli2hrveIBiMn1vnkAduR0LLV7hB-5sjw/edit?usp=sharing

[2022-01-20 23:42] denis-tingaikin commented on #1695
I think this can be closed because we did a lot of with in heal.
@glazychev-art Be free to reopen this if the issue is still actual.

[2022-01-20 23:42] #1695 closed

[2022-01-20 23:43] denis-tingaikin commented on #2376
It looks like we did a few fixes for the issue.
@glazychev-art be free to reopen this if I miss something.

[2022-01-20 23:43] #2376 closed

[2022-01-20 23:44] denis-tingaikin commented on #2673
I don't see any bash scripts. I think the issue is outdated and I don't see any link on the problematic place. So closing.

[2022-01-20 23:44] #2673 closed

[2022-01-20 23:45] denis-tingaikin commented on #2690
We don't see issues with NSE composition with the last CI runs. So closing.

[2022-01-20 23:45] #2690 closed

[2022-01-20 23:48] denis-tingaikin commented on #2068
@krishnajs Do you have any updates on this issue?

I would be also recommended to look into
https://github.com/networkservicemesh/deployments-k8s/tree/v1.1.1/examples/features/nse-composition

[2022-01-20 23:49] denis-tingaikin commented on #3231
@nathanawmk Do you still have any questions related to the issue?

[2022-01-24 17:16] edwarnicke commented on #2800
@denis-tingaikin Is this still an active issue?

[2022-01-25 18:33] #3938 closed

[2022-01-25 18:33] #4247 closed

[2022-01-25 18:33] #1017 closed

[2022-01-27 16:29] ljkiraly opened #4433 "Add more remote vlan examples"
The vpp and ovs forwarders supports remote vlan mechanism.
- Extend the tests to forwarder-ovs.
- Break the existing tests into internal and cluster breakout cases.
- Add examples for usage of multiple vlan tag on same interface.

[2022-01-28 20:32] richardstone opened #4467 "Delay pod start until spire-server is reachable"
To avoid unexpected restart of any NSM pod, it would be great if there would be a check at the start of every NSM pod, wether the spire-server is already available and can handle requests.

I'm thinkg of a simple check like this at the start:
`until nc -w 2 -vz spire-server 8081; do sleep 2; done`

Would be nice if the wait and sleep time could be configured.

[2022-01-28 21:13] edwarnicke commented on #4467
I like this idea a lot :)

@richardstone what was the other thing around probes you found?

[2022-01-30 15:37] denis-tingaikin opened #4468 "Rework NSM webhook deleting on cleaning"
## Motivation

Anders Franzen  reported the next problem in [NSM dev slack.](https://app.slack.com/client/T08PSQ7BQ/CHSKJ4849/)

kubectl delete mutatingwebhookconfiguration --all
this line also removes webhooks for other subsystems. at least it removed some AWS VPC for me I think....

## Solution

We should replace
[code]
To something concrete to delete only NSM webhook.

[2022-01-30 16:07] denis-tingaikin commented on #4248
The last incident was 30 days ago.  I think this is potentially fixed. Let's keep eye on this issue.

[2022-01-30 16:15] denis-tingaikin commented on #4248
@glazychev-art I think we need to re-enable the test and check is it still reproducing.

Also could you check latest logs
https://github.com/networkservicemesh/integration-k8s-kind/runs/4760113155?check_suite_focus=true?

[2022-01-30 16:30] denis-tingaikin commented on #2800
@edwarnicke Yes.

I found a root cause

[code]

`error attempting to get interface dump client to determine MTU for tunnelIP`.

[forwarder-vpp-kcwxn.log](https://github.com/networkservicemesh/deployments-k8s/files/7966353/forwarder-vpp-kcwxn.log)

[2022-01-31 08:26] richardstone commented on #4467
@edwarnicke

It was about the readiness probe settings of the pods. This is what works for us:
      failureThreshold: 200
      initialDelaySeconds: 1
      periodSeconds: 1
      successThreshold: 1
      timeoutSeconds: 2

These are rough numbers for now. initialDelaySeconds and failureTreshold will definitely change in the future.

[2022-01-31 10:16] #4468 closed

[2022-02-01 17:40] edwarnicke commented on #4467
@richardstone Keep us updated :)

[2022-02-03 09:06] denis-tingaikin commented on #4248
Is not reproducing.

[2022-02-03 09:06] #4248 closed

[2022-02-04 10:12] #2800 closed

[2022-02-09 12:12] NikitaSkrynnik opened #4622 "Fix examples/features/jaeger example"
## Description
Examples/features/jaeger example works with the old version of NSM, which supports tracing via OpenTracing.
The current version of NSM supports tracing only via Opentelemetry Collector.

[2022-02-10 12:27] ljkiraly opened #4623 "Do you plan to add dual stack support for cmd-nse-icmp-responder?"
Hello,

We plan to do some dual stack testing. I know that is supported by API and I already added some support to cmd-remote-vlan-nse. As I see there are IPv6 only tests already.

Do you plan to add support for dual stack in cmd-nse-icmp-responder?

I would like to be in alignment in cmd-remote-vlan-nse with the cmd-nse-icmp-responder. Currently I am using two environment variable to set the CIDR

[2022-02-10 14:04] tttgiang2510 opened #4624 "Documentation of exported metrics in NSM"
I'm looking for a document describing exported metrics in NSM but couldn't find any. It looks like documentation is missing.

[2022-02-14 14:00] NikitaSkrynnik opened #4775 "Fix LinkChecker job"
## Description
LinkChecker job from CI fails on Release. It tries to check links for a new tag before the `release` action creates this tag.

## Possible Solutions
1. Skip LinkChecker on Release
2. Run LinkChecker after Release action

[2022-02-14 14:09] NikitaSkrynnik opened #4776 "Improve Check Images job in Release action"
## Description
Add new step for `check-images` job. This step should check that all Docker images are pullable.

[2022-02-14 14:13] NikitaSkrynnik opened #4777 "Fix Release Action"
## Description
`${{ github.event.workflow_run.head_branch }}` variable is always empty for Release action.

[2022-02-15 00:40] denis-tingaikin commented on #4624
@edwarnicke Should we add this information into nsm/site?

[2022-02-17 11:44] NikitaSkrynnik opened #4804 "Update refs to the latest tag in deployments-k8s on Release"
Currently, the `release-deployments` action only updates image versions in the `deployments-k8s` repo. It should update refs in `*.md` files too.

[2022-02-28 08:46] #4775 closed

[2022-02-28 08:46] #4777 closed

[2022-02-28 08:46] #4776 closed

[2022-03-03 18:22] denis-tingaikin commented on #4622
@szvincze Be free to ping us if the problem is still actual for you

[2022-03-03 18:22] #4622 closed

[2022-03-04 08:54] szvincze commented on #4467
@edwarnicke Do you think that such check that @richardstone proposed can be implemented?

[2022-03-04 14:27] edwarnicke commented on #4467
@denis-tingaikin Does @NikitaSkrynnik  have bandwidth for this?

[2022-03-09 17:44] denis-tingaikin commented on #4467
@edwarnicke No, we don't work with this issue yet.

 From my view this looks interesting to apply. PRs are welcome!

[2022-03-09 17:52] denis-tingaikin commented on #4467
@richardstone , @szvincze be free to open PR. We'll consider it ASAP.

[2022-03-14 09:36] denis-tingaikin commented on #4623
/cc @edwarnicke

[2022-03-14 13:43] edwarnicke commented on #4623
@ljkiraly Dual stack testing in integration would be most welcome.  Please do note that in the cmd-forwarder-vpp testing... all tests are dual stack :)  I suspect you are correct that you will need to add a bit to cmd-nse-icmp-responder to get dual stack working.  I'd suggest looking at: https://github.com/networkservicemesh/cmd-forwarder-vpp/blob/69c5a02595841f45cfc7fd303097f53e4e4a386c/internal/

[2022-03-15 08:48] denis-tingaikin commented on #4804
PR is merged.

[2022-03-15 08:48] #4804 closed

[2022-03-15 10:19] Chunosov opened #5000 "Admission-webhook crashes after node restart"
From time to time we see issues after node reboot - admission-webhook stays in CrashLoopBack, the logs complain that the mutatingwebhookconfiguration is already there.  Removing the existing configuration solves the problem:

[code]

[code]

Probable reason:
It is related to thing that admission webhook is using self signed cert and when admission webhook restarts it generates a new cert that is n

[2022-03-17 09:22] denis-tingaikin commented on #4267
@edwarnicke Can we implement this?

[2022-03-17 09:45] denis-tingaikin commented on #5000
Should be fixed by https://github.com/networkservicemesh/cmd-admission-webhook-k8s/pull/98

[2022-03-17 09:45] #5000 closed

[2022-03-17 12:00] glazychev-art opened #5038 "Replace image for policy based routing example"
### Description
We need to replace the custom image used for the policy based routing example with a better one (official). Perhaps we need to consider `ubuntu` or `alpine` with net packages.
https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/features/policy-based-routing/README.md?plain=1#L61
PR: https://github.com/networkservicemesh/deployments-k8s/pull/5029

[2022-03-18 15:14] edwarnicke commented on #4467
@szvincze @richardstone @LionelJouin Could you add the the new parameters you are suggesting including the startup time?  I think we are good with dropping 1.17... but need the correct parameter values.

[2022-03-18 17:57] szvincze commented on #4467
@edwarnicke We are working on it but need some time for refinement and proper test.

[2022-03-18 18:01] edwarnicke commented on #4467
@szvincze Do you have an ETA?  I'd love to get it out with the v1.3 release :)

[2022-03-18 18:05] richardstone commented on #4467
@edwarnicke I'd say early next week.

[2022-03-21 16:22] richardstone commented on #4467
Hi @edwarnicke!

I have managed to finetune the probes. Executed many upgrade tests, and it seems that - due to the randomness in picking the components during the process - upgrade-time is around 50-80 sec which is not bad compared to the times before (it was around 60sec). In some cases the upgrade takes a bit more time than before, but now I have barely seen any restart of NSM pods.

Changes I

[2022-03-21 16:26] richardstone commented on #4467
@edwarnicke As I wrote, previously the whole upgrade process took around 60 seconds, that now takes around 50-80seconds. Mostly it was around 60 with the finetuned probes, but sometimes it hit 80secs.

[2022-03-21 16:27] edwarnicke commented on #4467
@richardstone Oh, I had misunderstood... I thought the whole upgrade process was taking 5 seconds :)

Do you have any idea of how long any outages are in the dataplane for various NSCs during the upgrade process?

[2022-03-21 16:39] richardstone commented on #4467
@edwarnicke No problem, I might have not been clear about that. By upgrade times I mean the time it takes for the system to upgrade every pod. Traffic outage during the process is a different story.

Our traffic outage measurement still needs some rework, as we still use the NSE inside the cluster as the traffic server. With this, the measurement can not be precise as the traffic server is affecte

[2022-03-21 17:44] edwarnicke commented on #4467
@richardstone Thanks for letting us know... we are very open to reducing the outage time.  Overall, while its good to reduce upgrade time, its even better to reduce outage time :)

[2022-03-22 01:15] denis-tingaikin commented on #3138
Is not reproducing yet.

[2022-03-22 01:15] #3138 closed

[2022-03-22 09:46] denis-tingaikin commented on #4623
@edwarnicke, @ljkiraly Should we create another nse repo to demonstrate dual stack example? I think the more examples of nses we have the better

[2022-03-23 10:38] #1261 closed

[2022-03-23 12:13] #5038 closed

[2022-03-24 13:40] NikitaSkrynnik opened #5135 "Fix Policy Based Routing and Mutually Aware NSEs test"
[PolicyRoute](https://github.com/networkservicemesh/api/blob/main/pkg/api/networkservice/connectioncontext.proto#L51) now contains `dst_port` and `src_port` instead of `port`. We should update `policy-config-files` in `Policy Based Routing` and `Mutually Aware NSEs` tests

[2022-03-25 09:30] denis-tingaikin opened #5137 "Scale from zero + vl3 example"
## Description

Add example that combines two NSM Features: `vl3`, `scale-from-zero`

See at https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/features/scale-from-zero and https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/features/vl3

## Use-case

1. Two nscs starts on two different nodes.
2.  both nsc connects to autoscale-icmp-responder, that create

[2022-04-05 09:17] sbrk03 opened #5247 "Chaining security functions with NSM"
Hello,
I am trying to use NSM for chaining different security functions. The use case is similar to the SFC one (see issue #2068).

I am aware of the [nse-composition example](https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/features/nse-composition) but I am wondering if it is possible to create a composition where the security function is not implemented inside the NSE co

[2022-04-05 16:13] denis-tingaikin commented on #5247
I think we can go something like this

Based on nse composition example. We can build our own vpp nse that will be based on https://github.com/networkservicemesh/cmd-nse-icmp-responder-vpp

So we can simply create a tap iface based on sdk-vpp https://github.com/networkservicemesh/sdk-vpp/tree/main/pkg/networkservice/mechanisms/kernel/kerneltap

By code example you will need to append here https://

[2022-04-05 16:13] denis-tingaikin commented on #5247
@edwarnicke Could you correct me if I wrong?

[2022-04-05 17:17] edwarnicke commented on #5247
@sbrk03 So first question: what does your chain logically look like?

Is it
[code]

?

[2022-04-05 18:51] sbrk03 commented on #5247
@edwarnicke Exactly! Something like that: a client request should pass through a set of security functions before reaching the application that offers the real service. Let's say a web service protected against malicious attacks.
The whole idea is to dynamically deploy a chain of security functions, based on the application requirements and/or the context. Each secfnc is a k8s deployments/pod that

[2022-04-05 18:58] edwarnicke commented on #5247
@sbrk03 Does the IDS here terminate the TCP sessions, or is it sniffing the packets and reconstructing the streams for analysis?

[2022-04-05 19:05] sbrk03 commented on #5247
@edwarnicke it is sniffing the packets. Then the final destination is the application (e.g. a web server) that stays behind the IDS in another pod and likely on another node of the cluster.

[2022-04-05 19:55] edwarnicke commented on #5247
@sbrk03 Got it, so you need packets to come in on a kernel interface, get sniffed by your IDS, and then get routed out.

How are you telling your IDS which interface to sniff?  And what actions if any does your IDS take if it detects traffic you don't like?

[2022-04-06 06:30] sbrk03 commented on #5247
Exactly that is the idea.

We pass the interface to be sniffed as an argument to the container (https://github.com/jasonish/docker-suricata). For example:
[code]
Regarding the actions, for the moment we just detect malicious traffic  and provide an alert.

[2022-04-06 16:17] edwarnicke commented on #5247
So it sounds like what you are really looking for is a 'span' interface traffic gets mirrored to, correct?

[2022-04-06 18:14] edwarnicke commented on #5247
@sbrk03 The other question that comes to mind is: do you need a 'per vWire' span of the traffic?

the current example chain with the firewall basically has a interface coming into the firewall and an interface going out of the firewall per vWire (aka: client).  This is nice for the firewall case, because you know *exactly* which workload you are looking at all along the chain.

It's also not the o

[2022-04-06 18:15] sbrk03 commented on #5247
@edwarnicke Not sure. I need something not focused only on IDS but more generic that can be used by different security functions (e.g. firewall). I am thinking about a virtual interface created by the NSE container inside the Pod where also the secfnc runs.  I see that `cmd-nse-icmp-responder` creates an iface in the pod while `cmd-nse-firewall-vpp` does not.  I am not an expert but something that

[2022-04-06 18:34] sbrk03 commented on #5247
@edwarnicke  Sorry our comments overlapped :-).
In principle a  'per vWire' approach is ok (to simplify we can start considering only one client so the two alternatives are basically the same).
But this sentence is key for me: `the current example chain with the firewall basically has a interface coming into the firewall and an interface going out of the firewall per vWire (aka: client)`:
My under

[2022-04-07 11:38] #5135 closed

[2022-04-08 05:19] glazychev-art opened #5379 "Update spire version"
### Description
Spire v1.22 was released - https://github.com/spiffe/spire/releases/tag/v1.2.2

[2022-04-12 18:30] denis-tingaikin opened #5435 "Simplify count of exposed NSM services for interdomain scenarious"
## Problem statement

Currently NSM is using 3-5 exposed services for `interdomain/floating interdomain` and  `interdomain/floating + vl3`control plane scenarios

[code]

NSM is using 2 exposed services for  interdomain control plane scenario

[code]
Note:
if the user wants to use floating and interdomain scenario in one time then he needs  4 exposed services (nsmgr-proxy, registry, floating-regis

[2022-04-12 19:29] denis-tingaikin opened #5436 "Make examples more friendly for new users"
We can simplify our examples and make them for easier for the new users.

# Solution

1. Add diagram based on `mermaid` for each example.
2. Get rid of creating dynamic files in examples. We can use a static namespaces for each examples. We can use affinity and anti-affinity for node selection, use PODs instead of deployments for nscs, try to use `kubectl set env`.
3. Add a separate ns for each ex

[2022-04-14 17:38] denis-tingaikin opened #5494 "Re-calculate limits with k8s/vertical-pod-autoscaler"
Our first limits were set in https://github.com/networkservicemesh/deployments-k8s/pull/727

That was good for first step but it is not looking good for now. We still see issues with limits on different systems.

## Solution

Re-calcluate limits with https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler

[2022-04-14 19:42] denis-tingaikin opened #5495 "Request from community call: Check that NSM is fine if spire is unhealthy"
At **WEEKLY NSM North America call on Tuesday, November 30, 2021 at 8AM PT** we got request  from  thecommunity to check that NSM is fine if spire is unhealthy.

## Use-cases

### Use-case1
1. start spire
2. start nsm
3. start an example
4. stop/restart spire
5. start spire
5. check that example from step 3

expected: everything is working
actual:?

### Use-case2
1. start spire
2. start nsm
3. sto

[2022-04-14 19:48] denis-tingaikin commented on #5495
@edwarnicke we got this request from community. Can we consider this?

[2022-04-18 20:46] denis-tingaikin commented on #5494
@edwarnicke Can we schedule this for v1.4.0?

[2022-04-26 13:29] denis-tingaikin commented on #4271
Fan-in releasing issue is resolved.

[2022-04-26 13:29] #4271 closed

[2022-04-26 14:01] edwarnicke commented on #4623
I'd suggest we simply make this NSE able to handle multiple prefixes (similar to how cmd-forwarder-vpp does it).  Would be fairly simple, and allow us to do dual stack pretty trivially, without hardcoding the IPv4 or Ipv6-ness of things.

[2022-04-26 14:03] denis-tingaikin commented on #4623
OK, as I can see we already have PR for this https://github.com/networkservicemesh/cmd-nse-icmp-responder/pull/407 :+1:

[2022-04-27 16:43] yuraxdrumz opened #5599 "IPPool is empty error"
Hello.
During my tests with NSM, things seem to work fine until, sometimes, I reach a point where I get `IPPool is empty` error and I can't even run 1 nsc.
I am doing lots of tests and I delete and add nsc's and nse's all the time.
My guess is something is not getting released with the IP Pool.
I tried running a different CIDR, tried recreating the `NetworkService`, tried creating new `NetworkServ

[2022-04-27 18:52] denis-tingaikin commented on #5599
Hello @yuraxdrumz !

As I can see your apps are based on 26 Feb changes (see at commit 8ddd0be6e5d1 in SDK)

The problems could be resolved in the main version of nsm

Could you check this with latest version
https://github.com/networkservicemesh/deployments-k8s/tree/main/apps?

[2022-04-28 09:20] yuraxdrumz commented on #5599
Hello @denis-tingaikin
I updated all the components to the latest versions and still nothing.

[alpine-composition.txt](https://github.com/networkservicemesh/deployments-k8s/files/8581075/alpine-composition.txt)
[forwarder-vpp-t5bcw.txt](https://github.com/networkservicemesh/deployments-k8s/files/8581098/forwarder-vpp-t5bcw.txt)
[nse-passthrough-3-56f8f8c6cd-l8v5z.txt](https://github.com/networkse

[2022-04-28 20:05] denis-tingaikin commented on #5599
The problems https://github.com/networkservicemesh/sdk/issues/1020 and https://github.com/networkservicemesh/sdk/issues/1007 are not actual. The errors what you're seeing is related to the first incorrect request from the client (nsc).

As I can see by some reason the forwarder is selecting `nse-kernel-544dd8fd4b-5qfwv` on the first call.

@yuraxdrumz Could you please attach your `networkservices`

[2022-04-28 21:17] yuraxdrumz commented on #5599
I tried deleting and switching the `networkservices` several times.
The latest looks like the following
[code]

Regarding the `networkserviceendpoints`, I have versions even of those I already deleted.
[code]
all `networkserviceendpoints` - [nse.txt](https://github.com/networkservicemesh/deployments-k8s/files/8586664/nse.txt)

The nsm annotation used is
[code]

full nsc-config
[code]

logs from cm

[2022-04-28 22:41] denis-tingaikin commented on #5599
@yuraxdrumz Thanks! _Looking_

Question: Did you try to run this example https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/features/nse-composition without changes?

[2022-04-29 20:47] denis-tingaikin commented on #5599
@yuraxdrumz Im not sure but probabbly you got something like this:

1. Your tried to run composition (have been created nses entries in the etcd)
2. Something was wrong and  you have deleted all components (the nses are deleting by timeout if the registry is alive so we got a leak => its defently a problem of the current registry that cant check all exsist nses in the crd on the startuo => I'll cr

[2022-04-30 20:30] denis-tingaikin commented on #5599
@yuraxdrumz We have AWS integration testing, but we're using 2 nodes setup. I'll try to reproduce your problem at Monday, let me know if you get any updates with ☝️

[2022-05-01 08:30] yuraxdrumz commented on #5599
Hey @denis-tingaikin.
Thanks for replying fast!
Steps I did:

- Remove all network service endpoints
- Forwarders got reregistered
- Remove all network services
- Run nse-composition example you provided

Same error as before, adding the nsc-cmd-init log - [alpine.txt](https://github.com/networkservicemesh/deployments-k8s/files/8598523/alpine.txt)
Registry response - [registry-k8s-78f5768d97-8trrz

[2022-05-05 09:33] richardstone opened #5676 "NSM Nessus scan"
Nessus scan found 2 critical vulnerabilities of NSM, that the registry and the nsmgr accepts TLS 1.0 and TLS 1.1 on their ports (5002 and 5001).
![image](https://user-images.githubusercontent.com/22618286/166897271-d38f1144-4789-420b-9f35-667ac4826eb1.png)
![image](https://user-images.githubusercontent.com/22618286/166897301-0a100ec4-397f-4812-80fd-e5d060ecf566.png)

Could you check how this could

[2022-05-05 10:23] denis-tingaikin commented on #5676
@edwarnicke I think we should consider this one on the bug fix week

[2022-05-09 09:59] phan91 opened #5775 "Vlan/vxlan data traffic does not work on pure IPv6 cluster"
Vlan/vxlan data traffic does not work on pure IPv6 k8s cluster. It works with pure ipv4 or dualstack k8s cluster
Can you have a look on it?

[2022-05-09 12:03] #4467 closed

[2022-05-10 07:45] yuraxdrumz commented on #5599
Anything new?

[2022-05-11 12:56] yuraxdrumz opened #5827 "Conditional routing between several network services"
Hello.
I have a question that I did not find an answer for and I would love for an explanation.

I have a use case, where I want 1 nsc to be connected to 2 network endpoints behind 2 different network services.
I want to conditionally route to the network endpoints based on the destination address.
Let's say when dst is inside a specific internal network, like 10.x.x.x/24, I want to go to service

[2022-05-11 14:21] edwarnicke commented on #5827
@yuraxdrumz

Short answer: Yes
Long answer: Not quite the way you are thinking :)

In Network Service Mesh, and NSE can specify the [ConnectionContext](https://github.com/networkservicemesh/api/blob/a1414febd72770e0f7c75bf90ccbe58676baa0c1/pkg/api/networkservice/connectioncontext.proto#L96-L102) in the Connection it returns.  This includes an [IPContext](https://github.com/networkservicemesh/api/b

[2022-05-12 08:03] yuraxdrumz commented on #5827
@edwarnicke
Yes, I assume you meant NSE-2 in the last sentence.

Thanks

[2022-05-12 15:05] edwarnicke commented on #5827
@yuraxdrumz Thanks for catching that typo, I've fixed it now :)

[2022-05-13 14:51] denis-tingaikin commented on #5676
@edwarnicke , @richardstone Do you have any updates?

[2022-05-16 09:25] NikitaSkrynnik commented on #5676
@richardstone Hello! I tried to check TLS versions with `openssl`. Here are the results:
## TLS 1.0
`kubectl exec -n nsm-system nsmgr-4g8bl -c nsmgr -- openssl s_client -connect registry:5002 -tls1`
[code]

## TLS 1.1
`kubectl exec -n nsm-system nsmgr-4g8bl -c nsmgr -- openssl s_client -connect registry:5002 -tls1_1`
[code]

## TLS 1.2
`kubectl exec -n nsm-system nsmgr-4g8bl -c nsmgr -- openssl s_

[2022-05-16 11:16] edwarnicke commented on #5676
@NikitaSkrynnik Great investigation!

If it turns out after further investigation we *are* accepting TLS1 or TLS1.1 this is how we would peg to a minversion of TLS:

https://github.com/networkservicemesh/cmd-forwarder-vpp/pull/627

Also done here:

https://github.com/networkservicemesh/cmd-nse-simple-vl3-docker/pull/5

If we are actually (contrary to your findings) exposing TLS1 and TLS1.1 we'd ne

[2022-05-16 11:25] denis-tingaikin commented on #5676
@edwarnicke I think we can start with single application, lets check that forwarwder-vpp will be fine with TLS version patch

[2022-05-18 15:34] BenAgai opened #6063 "NSM VL3 over VXLAN interfaces between forwarders"
I have a question regarding NSM’s VL3 support that I did not find an answer for and I would appreciate your help.

From the vL3 single cluster example I saw the below diagram:
<img width="1111" alt="vL3 single cluster example" src="https://user-images.githubusercontent.com/28253368/169082071-2c158b0d-83b6-4de9-863c-d9a0b2db03a5.png">

After running the example in my cluster I found out that the tu

[2022-05-18 15:38] denis-tingaikin commented on #6063
Hello @BenAgai !

Payload Ethernet indeed is neede for VXLAN remote mechanism.

But note: vl3 networks means L3 level of OSI. So we need IP payload.

At this moment we have only WIREGUARD mechanism that can be used for IP payload.

We're planning to add more remote mechanisms soon as SRV6, IPSec and so on.

Does it cover you quesiton?

[2022-05-19 07:42] BenAgai commented on #6063
Hi @denis-tingaikin and @edwarnicke
Thank you for your fast response!

@denis-tingaikin,
As both WIREGUARD and VXLAN can be used for tunneling, I though that VXLAN could also be used for the IP payload configuration concept-wise.

As it didn’t work for me I wanted to ask if there are any functionalities required from the tunneling protocol for it to be used in the IP payload type that VXLAN does n

[2022-05-19 13:48] denis-tingaikin opened #6109 "Something went wrong with nse composition example on the production cluster"
See at logs https://cloud-native.slack.com/archives/CHSKJ4849/p1652454237564449?thread_ts=1643909483.878379&cid=CHSKJ4849

[2022-05-20 09:05] glazychev-art commented on #5599
Related to: https://github.com/networkservicemesh/sdk/issues/1297

[2022-05-22 07:48] BenAgai commented on #6063
Hi @edwarnicke

Thanks for the explanation above, it is indeed clear to me :)
As the devices we are working with support only VXLAN, I would be glad to find a way to make the VL3 support work with it
as its remote mechanism.

Of course, if you have any suggestions/instructions on how to make it work, I can concurrently take it on my side as well and apply the changes to make it work with VXLAN.

T

[2022-05-23 16:32] #6109 closed

[2022-05-24 10:46] denis-tingaikin commented on #5599
@yuraxdrumz Should be fixed for the latest master. Could you re-test ?
Be free to reopen issue if the problem is still actual.

[2022-05-24 11:08] #5775 closed

[2022-05-24 11:32] glazychev-art opened #6177 "Recheck using URL in kustomize"
### Description
We don't use URL in kustomize in the setup for some of the last tests.

For example:
[VL3 - basic](https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/features/vl3/basic)
[VL3 - scale from zero](https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/features/vl3/scale-from-zero)
[Interdomain](https://github.com/networkservicemesh/deployments-k

[2022-05-29 23:28] denis-tingaikin commented on #5676
@richardstone
The issue should be solved for the latest main.

[2022-05-31 06:44] sepehrjavid opened #6302 "Wrong port to access the registry in interdomain test"
Hello,
I have been testing the FloatingKernel2Vxlan2Kernel usecase in the interdomain example and I have encountered an issue. The version of the kind used is 0.8.1 and the NSM version was 1.3.0 and all clusters are on one single VM in OpenStack. Apparently the registry proxy of cluster1 resolves the IP address of the registry in cluster2 correctly, however, uses the wrong port number to access it

[2022-05-31 11:10] sepehrjavid commented on #6302
Hi @denis-tingaikin

I checked the result of the IPAM and it seems like the CLUSTER_CIDRs are not included in that. I followed the provided instructions for the loadbalancer but should I add the IPAM subnets manually?

here's a partial output of the docker network inspect command

![Screenshot from 2022-05-31 14-08-03](https://user-images.githubusercontent.com/32390553/171160302-cdcd0367-426e-4450

[2022-05-31 12:54] yuraxdrumz opened #6305 "NSM vl3 with selective composition errors"
Hello guys,
I have a requirement to do [selective composition](https://networkservicemesh.io/docs/concepts/architecture/#selective-composition) with VL3.

![vl3-composition](https://user-images.githubusercontent.com/17418978/171175711-e5780c29-3628-473f-bdd0-3a3a571ba541.png)

While working on this solution, I encountered a few issues:

- The example you provided on the website seems to not work w

[2022-05-31 12:59] #5827 closed

[2022-05-31 13:29] denis-tingaikin commented on #6302
As. I can see everything is looking valid.

But this is defently requires a bit more diagnostics.

Could you please run/attach this:
1. Attach logs from `nsc` and `nse` containers
2. `kubect describe nodes` for each cluster
3. Try to run from nsc and nse followting things: `nslookup kubernetes.default`,  `nslookup exposed-kube-dns.kube-system.my.cluster1`, `nslookup exposed-kube-dns.kube-system.my

[2022-06-01 06:28] glazychev-art commented on #6305
Hi @yuraxdrumz,
Thanks for the report!
I've looked at your logs, and it seems we've already fixed a few of these errors. Could you please use the latest version? I think you can try `v1.4.0-rc.1` or `main` branch.

As for the issues you found, I'm not sure if we can fix this in v1.4.0. If you have any progress (e.g. for cmd-nse-vl3-vpp repository) feel free to open the PR!

[2022-06-01 07:26] #4623 closed

[2022-06-01 12:02] sepehrjavid commented on #6302
Sorry for the delay to reply, here are the logs:

NSC shell commands:

![nsc_exec](https://user-images.githubusercontent.com/32390553/171398926-b67aad64-2776-47f2-ad79-d69366659803.png)

NSE shell commands:

![nse_exec](https://user-images.githubusercontent.com/32390553/171399055-da5569e0-002f-4ae4-ab7e-5d79bffeeff4.png)

kubectl descibe nodes for cluster 1:
[cluster1.txt](https://github.com/netwo

[2022-06-01 12:26] denis-tingaikin commented on #6305
@yuraxdrumz Be free to open PR :)

[2022-06-01 13:38] #6302 closed, assigned to nobody

[2022-06-02 11:14] yuraxdrumz commented on #6305
Thanks for the feedback, I will open a PR as soon as its working!
@denis-tingaikin Opened the issue [here](https://github.com/networkservicemesh/cmd-nse-vl3-vpp/issues/62)

I found the issue with my initial problem of connecting NSC -> PT -> NSE <- NSE <- NSC

The initial test run was with 2 NSE's and 2 NSC's, one NSC direct and one NSC through passthrough.
What I saw was:

1. NSC Connects to Pass

[2022-06-02 15:22] edwarnicke commented on #6305
@yuraxdrumz

Would it perhaps make sense to have the NSE's themselves advertise a distinct 'interconnect' network service that they use to interconnect between each other that is not the same as the 'vl3' that is advertised to NSCs ?

[2022-06-02 15:26] yuraxdrumz commented on #6305
@edwarnicke I thought about it as well. Adding the labels gives enough room to interconnect however I want in the future and is almost zero code changes, do you see a specific use case for your suggestion?

[2022-06-02 15:33] edwarnicke commented on #6305
Yeah... what I was getting at was something that would just 'work' in an intuitive way.  I value your hack to make it work with labels because it is the minimum set of changes that proves the root of the problem (super helpful).

It would make 'composition' of things before the vL3 work roughly as one would expect.

[2022-06-02 15:34] yuraxdrumz commented on #6305
@denis-tingaikin sounds good.
Can you perhaps point me to a guide / explain how the refresh and the excluded prefixes work, so I could debug the issue?

@edwarnicke I agree

[2022-06-03 14:14] anastasia-malysheva opened #6345 "Add Floating interdomain + autoscale + vl3 example"
Add example that combines 3 features: Floating interdomain, autoscale and Vl3.
Expected result is 3 clusters which are connected with VL3 network.
Floating interdomain example: https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/interdomain/usecases/FloatingKernel2Vxlan2Kernel
Vl3 with scale from zero example: https://github.com/networkservicemesh/deployments-k8s/tree/main/exa

[2022-06-20 11:04] BenAgai opened #6488 "Using PBR configuration for Internet access"
Hi,
I wanted to use the PBR (Policy Based Routing) feature for Internet access functionality.
I created the following topology:

<img width="690" alt="Screen Shot 2022-06-20 at 14 00 22" src="https://user-images.githubusercontent.com/28253368/174587929-47d57296-21b5-49b2-b6e2-891ae90ee4b3.png">

Where
1. The payload type is IP.
2. The NSE had the following configurations:
    a. NAT (MASQUERADE) r

[2022-06-21 05:01] glazychev-art commented on #6488
Hi @BenAgai,
Could you please provide an example configuration including the MASQUERADE rules and PBR?
At first glance this seems to be a masquerade problem, if a change in the forwarder helps. Perhaps the reverse IP replacement is incorrect.
If you have any NSM or VPP logs, it would be great if you share them!

[2022-07-05 08:59] richardstone opened #6580 "AppArmor profiles for NSM"
Hello!

I’m trying to set up AppArmor profiles for NSM, but got stuck on forwarder-vpp. I’m setting up an empty profile in “complain” mode, so that it will log what is needed for it to run, but this way the forwarder is failing to start. That is strange as in complain mode, there is no restrictions at all.

Setting up the profile on the worker:
[code]

After applying the profile, I check if it’s e

[2022-07-06 09:37] szvincze commented on #6580
`/usr/bin/vpp` is the suspect because I removed it from the apparmor profile and the forwarder is working properly and I found only "ALLOWED" apparmor messages for forwarder in `dmesg`.

[2022-07-07 11:25] denis-tingaikin commented on #6580
@szvincze Cool! Let us know if we need also have a look into this .

[2022-07-08 16:37] szvincze commented on #6580
Finally I found the way how to fix this issue.

It seems there is a problem when NSM components spawn additional processes, because it hits a disconnected path denial. It is the same with the probes that call different processes than the original `ENTRYPOINT` of the image.
(Note: `SPIRE` uses the same process for health-checks in the probes. This is why it works smoothly with `apparmor`.)

The Lin

[2022-07-12 00:14] denis-tingaikin opened #6645 "Refcheck should ignore new files from PRs"
refcheck checks that links are fine and all versions are consistent. But this is not good for the new files from PRs because we dont have a revision with the new files in the main branch.

Steps:

1. Clone repo
2. Add new file with ref to github
3. Open PR

Actual:  refcheck is always red for new files.
Expected: refcheck skips new files.

[2022-07-13 13:20] BenAgai opened #6679 "Using PBR for configuring routes on the NSE itself"
Hey,
I’m currently working on a project where I want to provide internet access through NSM.
I have created the following topology:
<img width="898" alt="Screen Shot 2022-07-13 at 16 17 42" src="https://user-images.githubusercontent.com/28253368/178743049-bcfb8e63-b686-4e5f-ad0e-b7bd6af0a745.png">

In the above figure let’s assume that the OVPN server assigns every OVPN client an IP from the follo

[2022-07-13 14:12] zhaowei413 opened #6680 "【help】why my NSC pod stuck in Init state"
After I have created a NetworkService, then I create a client pod which request that network service, but the pod will always
stucked in this state and not go on, why? Thanks!

![image](https://user-images.githubusercontent.com/69899139/178753434-dddabcf8-ebdc-42c7-a18e-b5e2232f2e43.png)

![image](https://user-images.githubusercontent.com/69899139/178753858-d82aaf83-b32c-4f78-8651-cb0c6c252635.png

[2022-07-13 17:51] denis-tingaikin commented on #6680
Hello @zhaowei413!

This is could be related to ns/nse status.

[code]

Could you please attach these things?

[2022-07-14 07:48] zhaowei413 commented on #6680
Thanks for reply, the log is so long so I paste in other mail

[2022-07-14 11:45] glazychev-art commented on #6680
Hi @zhaowei413
In short, I think it's because you have 2 clients - `alpine` and `iperfmod-c`. You need to delete one of them or use a wider prefix for `nse-kernel` - `NSM_CIDR_PREFIX`

If you are using this example - https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/features/nse-composition/README.md, you may notice that NSE has env `NSM_CIDR_PREFIX: 172.16.1.100/31`. From t

[2022-07-17 13:51] zhaowei413 commented on #6680
you are right, I have successfully add other Pod to this example network of nse-composition, as picture bellow, but my final target is to created my own service function chain based on my on business Pod, so that means I should add a new container of image: "ghcr.io/networkservicemesh/cmd-nse-icmp-responder:v1.2.0" to every business Pod on this chain?  Thanks.

![image](https://user-images.githubu

[2022-07-18 07:33] glazychev-art opened #6774 "TestVl3_dns is not stable"
### Description
`vl3_dns` test uses 2 vl3-NSEs and 4 NSCs. But not all clients can ping each other using DNS.

### Logs
[code]

### Build
https://github.com/networkservicemesh/integration-k8s-kind/runs/7360864431?check_suite_focus=true

[2022-07-18 11:48] glazychev-art commented on #6680
Okay, you can also take a look at basic examples - https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/basic - these use cases can be useful :)

[2022-07-18 12:00] edwarnicke commented on #6680
@zhaowei413 It may be worth talking more about your use case.  Its possible that you would be better served by a vL3 NSE with some other Pods SFCed in front of it :)

[2022-07-18 16:08] zolug opened #6779 "multiple k8s-registries lead to NSE flapping"
When deploying NSM using k8s-registry and running multiple registry instances, the NSE re-registration request for a particular NSE might end up on another registry over time. This makes the old registry to falsely assume the NSE had disappeared (no re-reg before expiration time), thus removes the associated Custom Resource. This leads to xconnect disturbances.

It appears that the underlying TCP

[2022-07-19 17:01] denis-tingaikin commented on #6779
/cc @edwarnicke , @glazychev-art , @NikitaSkrynnik

[2022-07-20 11:30] ljkiraly opened #6826 "Which capabilities are recommended to set?"
During the implementation of security hardening we found some settings which should be recommended for NSM users and maybe implemented by NSM.

The aim was to run containers and pods with least privileges.
When deploying NSM images the containers should run as non root user and with minimal set of capabilities. It is also preferred to prevent writing the root file system (readOnlyRootFilesystem: t

[2022-07-21 07:35] #5676 closed

[2022-07-21 07:36] richardstone commented on #6580
Closing it, as we can continue with @szvincze's findings. :)

[2022-07-21 07:36] #6580 closed

[2022-07-21 09:26] ljkiraly commented on #6826
Based on latest test result the example security settings applied in forwarder-vpp image and test manifest file works with SR-IOV configuration also:
https://github.com/networkservicemesh/integration-k8s-packet/actions/runs/2705228841

[2022-07-21 10:27] NikitaSkrynnik commented on #6779
@zolug Hello! Endpoint can go to different registries. We don't cache connections because their TLS certs can expire and gRPC don't update them automatically.

If registry doesn't get re-registration for particular NSE and NSE expires, registry deletes this NSE from memory and also deletes all assosiated Custom Resourses. At the moment we don't consider scenarios with multi-registry so there might

[2022-07-21 21:09] denis-tingaikin commented on #6779
@zolug , @NikitaSkrynnik

We've a bit discussed with Ed the problem.

Notes from the disccustion:

1. Multi registries are good to improve NSM resiliency and availability.
2. Planned to consider this issue in v1.6.0 (because it requires more investigations)
3. Prefer to consider a solution with changing `expire` element in the registry.

@zolug At this moment I wouldn't recommend to use multi regi

[2022-07-22 09:49] denis-tingaikin commented on #6679
/cc @glazychev-art , @edwarnicke

[2022-07-22 12:49] zhaowei413 commented on #6680
hi， @glazychev-art   It seems I should read source code in https://github.com/networkservicemesh/sdk/tree/main/pkg and like https://github.com/networkservicemesh/cmd-nse-firewall-vpp and so on, or I do not know many usage such as "fallthrough: true" in NetworkService definition, is that so? Thanks!

[2022-07-22 14:28] zhaowei413 opened #6870 "It had better add "my-vl3-network" defenition in to example "features/vl3-basic""
In this example, NSC and NSE use the NetworkService  "my-vl3-network", but it has no defenition in it!
Example "vl3-dns" has the same issue.

[2022-07-23 09:45] denis-tingaikin commented on #6870
That is good point.

At this moment we're using self registration via env https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/features/vl3-dns/nse-patch.yaml#L16

We'll do replace this to the netsvc defenition as you proposed.
Thank you!

[2022-07-25 07:33] glazychev-art opened #6872 "Output of nsm_istio test is unstable"
### Description
Test: [nsm_istio](https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/interdomain/nsm_istio)

Expected output: "hello world from istio"
Actual: sometimes we can see:
[code]

[2022-07-26 15:30] denis-tingaikin commented on #6680
@zhaowei413 I think you're correct and we need to add more explanations. Could you say more about your expectations about the information that you would like to see?

Also currently we have a two sources of NSM docs:

1. This examples repo - https://github.com/networkservicemesh/deployments-k8s
2. NSM Site - https://networkservicemesh.io/docs/concepts/enterprise_users/

Which one you'd prefet to s

[2022-07-27 03:52] zhaowei413 commented on #6680
I think examples repo maybe need more info about images introduction which is used in it (cmd-nse-vl3-vpp/cmd-nse-icmp-responder/...../......)

[2022-07-27 07:16] glazychev-art commented on #6305
Hi @yuraxdrumz,
We've pushed a few PRs. And they should fix the problems after the refresh.

Could please you check this on the latest `main` version or on `v1.5.0-rc.1`?

[2022-07-27 07:31] glazychev-art commented on #6488
Hi @BenAgai,
We've added 0.0.0.0/0 and ::/0 to allowedIPs by default.
Could please you check this on the latest `main` version or on `v1.5.0-rc.1`?

[2022-07-27 08:06] #6680 closed

[2022-07-27 09:33] NikitaSkrynnik opened #6942 "Github Actions event workflow_run has bugs"
## Description
Sometimes `workflow_run` event gives incorrect `github.event` where `workflow_run.conclusion` is set to `null` and `workflow_run.status` is `in_progress`. It ruins all Release and Automerge Workflows which depend on this type of event.

## Answer from Github Support
![image](https://user-images.githubusercontent.com/93182827/181214343-d0a0d4c7-7387-4e1e-9f8b-7ff4a526652a.png)

[2022-07-27 11:17] denis-tingaikin commented on #6870
Should be resolved with https://github.com/networkservicemesh/deployments-k8s/pull/6903

[2022-07-27 11:24] #6645 closed

[2022-07-27 12:42] glazychev-art commented on #6679
Hi @BenAgai ,
There is currently no such functionality, but we can consider it.

@edwarnicke Do you have any thoughts?

[2022-07-27 16:50] zhaowei413 opened #6952 "【help】Does NSM support loop chain?"
for example, I want the data flow to be transferred in loop, which means the NSC and NSE are the same pod, is it possible for such user case? The picture bellow is an example, the data coming in CNF1 from VF1, and after go through some business Pods, the data flow back to CNF1. How can I design such a network service, it seems NSC and NSE are the same CNF1 Pod.

![image](https://user-images.github

[2022-07-28 13:29] denis-tingaikin opened #6972 "Update opentelemtry to latest version and fix all found issues"
Here we fix the version of open telemrtry dep, because the latest version is not working with NSM https://github.com/networkservicemesh/deployments-k8s/pull/6971

We should figure out the root cause and update open telemetry to latest version.

[2022-07-28 13:30] denis-tingaikin commented on #6972
Incident https://github.com/networkservicemesh/integration-k8s-kind/runs/7558252244?check_suite_focus=true

[2022-07-28 13:31] glazychev-art commented on #6972
Logs from opentelemetry-collectior > v0.35.0:
[code]

[2022-08-01 15:33] edwarnicke commented on #6952
@zhaowei413 This is in the generic supportable.  Could you describe a bit more what you are doing in the loop though?

As you are no doubt aware, when forming network loops, at least one of the elements has to be intelligent enough to determine when to *stop* looping traffic :)  I'm curious which one is doing that above?

Also, NSM is capable of fairly sophisticated topologies, it may be that if w

[2022-08-02 02:29] zhm-algo opened #7047 "[help]question about nsm support sriov"
1. In Kubernetes, any Pod can add a Network Service using an annotation:
  annotations:
    networkservicemesh.io: "kernel://my-networkservice-1/nsm-1"
if we want nsm to support sriov, is there any change for the annotation.

2. when we try the sriov deployment in example directory, we have to prepare the sriov config first. what kind of resource will be created from the sriov config file. (hint,

[2022-08-02 09:41] denis-tingaikin commented on #6774
Seems like fixed

[2022-08-02 09:41] #6774 closed

[2022-08-02 10:19] zhaowei413 commented on #6952
@edwarnicke in the loop chain, there are pods for firewall or just pass though. The data into CNF1 need to flow through these business and security APP Pods and then return to CNF1, and finally flow out of CNF1.
what we need is just the picture bellow, so how to get a more effective topology? Thanks

![image](https://user-images.githubusercontent.com/69899139/182351170-bedaf48f-7643-4df0-96f8-974f

[2022-08-03 13:38] denis-tingaikin commented on #6952
I think this one could be intresting to check/implement for v1.6.0

@edwarnicke Thoughts?

[2022-08-03 13:42] denis-tingaikin commented on #7047
/cc @glazychev-art  @edwarnicke

[2022-08-03 13:43] denis-tingaikin commented on #6826
@ljkiraly Is this still actual?

[2022-08-03 13:43] denis-tingaikin commented on #6679
@edwarnicke Do you have any updates?

[2022-08-03 13:45] denis-tingaikin commented on #5247
@sbrk03 , @yuraxdrumz we can conside this in v1.6.0. Is this problem still actual for you?

[2022-08-03 13:46] #6870 closed

[2022-08-03 13:51] denis-tingaikin commented on #6305
I hope this should be fixed with https://github.com/networkservicemesh/cmd-nse-firewall-vpp/pull/286

@yuraxdrumz Feel free to reopen this one if we missed something!

[2022-08-03 13:51] #6305 closed

[2022-08-03 16:09] sbrk03 commented on #5247
Yes, we are still interested to this problem.
Thanks!

On Wed, Aug 3, 2022, 15:45 Denis Tingaikin ***@***.***> wrote:

--
--
Le informazioni contenute nella presente comunicazione sono di natura 
privata e come tali sono da considerarsi riservate ed indirizzate 
esclusivamente ai destinatari indicati e per le finalità strettamente 
legate al relativo contenuto. Se avete ricevuto questo messaggio p

[2022-08-04 08:52] yuraxdrumz commented on #6305
Will check it out next week, thanks!

[2022-08-04 10:26] denis-tingaikin commented on #5436
Name conventions:

1.  Name for networkservices is $testName
1.1. Name for complex examples is $testName-${capability1}-${capability2}-${capability3}...${capabilityN}
2.  Name for namesapce is ns-$testName
3. $testName should be in lowercase where each word is separated by '-'

[2022-08-04 12:44] zhaowei413 opened #7048 "which example is using VM as NSC or NSE?"
In the NSM Concepts document, we can see that it supports using VM as NSC or NSE in the network service chain, but it seems do not to have VM-related use cases  in the given examples(https://github.com/networkservicemesh/deployments-k8s), is that I miss it? Thank you!

![image](https://user-images.githubusercontent.com/69899139/182848857-fce464f3-4051-493e-80a7-312b5e0eb84c.png)

[2022-08-04 13:07] denis-tingaikin commented on #7047
annotations:
networkservicemesh.io: "kernel://my-networkservice-1/nsm-1"

If you're intrested in kernel mechanims then here as I can see need to add a sriovToken label. See at kernel sriov use-case example https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/use-cases/SriovKernel2Noop

We're testing this on the packet cluster. I think this configuration of the cluster could be

[2022-08-05 01:25] ZhiyongYang2020 commented on #7048
if there is the case that packet VM running as one element of NSM service chaining in one cluster?, e.g. CNF->VNF->CNF?

[2022-08-05 04:53] ZhiyongYang2020 commented on #7048
if NSM supports kubevirt VMs as part of chaining in K8S? Do we have similar test cases?

[2022-08-05 12:30] #6872 closed

[2022-08-05 16:13] BenAgai commented on #6488
Hi @glazychev-art,
Sorry for the late response.
I have verified the above scenario with v1.5.0 and it works properly :)

Thanks for the fix, very good job!

[2022-08-08 10:39] glazychev-art commented on #6952
@zhaowei413
How do you think, is a scenario without the loop possible for you?

I have concerns that there may be problems with routing if NSC and NSE are on the same pod.
Because the interfaces for both the NSC and the NSE will be in the network namespace of the same pod...

[2022-08-09 07:17] zhm-algo commented on #7047
1. I deploy sriov example, it succeeded  (https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/sriov)
2. I deploy "Test SR-IOV kernel connection" (https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/use-cases/SriovKernel2Noop)
the status is shown below
root@ubuntu-be8216485a:~/nsm_sriov_test# kubectl get po -n ns-8s8v6
NAME                          READY

[2022-08-09 15:00] denis-tingaikin commented on #6952
/cc @fkautz

[2022-08-09 17:02] U24543426 opened #7051 "Custom interface and IP address for the client request"
With the recent releases, the NSM improvements, stability, and the new features have been impressive. Thank you for all those contributing to this impressive work.

However, as you may agree, user guide-type documentation to help with advanced SDK use will take some time to catch up.

Back in around the 0.2.0 release we had a way to create complex topologies with per-link custom IP assignments and

[2022-08-10 03:34] ZhiyongYang2020 opened #7052 "if NSM supports kubevirt VMs as part of chaining in K8S? Do we have similar test cases?"

[2022-08-10 06:21] #6488 closed

[2022-08-10 12:17] ThetaDR opened #7055 "Missed nsm interface in the vL3 client's POD"
Configuration with two clusters. Pod with redis does not have nsm interface even though that cmd-nsc container is running.
Cluster-info dumps are attached inside the archive.
[cluster-info.zip](https://github.com/networkservicemesh/deployments-k8s/files/9299888/cluster-info.zip)

[2022-08-10 12:48] denis-tingaikin commented on #7052
Im not sure, it'd be great if you could add more information.

I guess these examples could be interested for you https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/k8s_monolith

[2022-08-11 10:02] NikitaSkrynnik opened #7056 "Do we plan to run remote vlan examples on CI?"
Examples:
1. https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/use-cases/Kernel2RVlanBreakout
2. https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/use-cases/Kernel2RVlanInternal
3. https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/use-cases/Kernel2RVlanMultiNS

[2022-08-11 10:05] NikitaSkrynnik commented on #7056
@ljkiraly

[2022-08-12 06:39] glazychev-art commented on #7051
Hello @U24543426,
Thank you for appreciating!

I think you are right that it is convenient to be able to configure this.

1. So, as you can see in the examples, in order to configure the client, you can use an NSM annotation like this:
[code]
`nsm-1` is the client interface name.To set it as `intf4` - just specify `networkservicemesh.io: .../intf4`

2. I think it's not possible to set `1200::1:1/9

[2022-08-12 06:39] glazychev-art commented on #7051
@edwarnicke
Could you please share your thoughts?

[2022-08-12 07:39] glazychev-art commented on #7051
Also I guess we need to fix the prefix setting.
For example, if we use:
[code]
that means:
[code]
This is what we use for [dual stack](https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/features/dual-stack/Kernel2Kernel_dual_stack)

I propose to make it possible to combine several prefixes into one ipam. For example:
[code]
that means:
[code]

[2022-08-12 07:40] glazychev-art commented on #7051
/cc @denis-tingaikin

[2022-08-12 11:44] bilgehan-erman commented on #7051
Thank you for the detailed info @glazychev-art
Given the IPAM constraints on the NSE, I'm also considering setting the payload to ETHERNET and manage the IP binding by the non-NSM processes within the POD -- once we get the individual interfaces/links setup between the nodes.

Not sure if this makes any sense but for the custom interface name, I'm considering catching the Request in the NSE and us

[2022-08-12 12:30] glazychev-art commented on #7051
For the custom interface name, you are absolutely right - I think this can be done quite simply.
I can briefly explain:
For the NSE (for example `cmd-nse-icmp-responder`) we set the interface name here - https://github.com/networkservicemesh/cmd-nse-icmp-responder/blob/main/main.go#L221
And here we can catch the Request - https://github.com/networkservicemesh/sdk/blob/main/pkg/networkservice/commo

[2022-08-12 12:44] bilgehan-erman commented on #7051
That is good to know. Thank you @glazychev-art!

[2022-08-15 11:52] glazychev-art commented on #7051
Thanks for reporting!
So, we have the following problems:
1. Custom IP address for NSC and NSE
2. Custom interface name for NSE
3. Grouping CIDR prefixes

@bilgehan-erman
Could you also tell a little more about your use case?

[2022-08-15 22:21] bilgehan-erman commented on #7051
Switching to ETHERNET PAYLOAD rather than using IP will relax the addressing part of the problem. As was mentioned earlier, it seems like we will be able to set a custom interface name even at the NSE side -- catching the Request, etc. (However, we will need to inspect and understand the static interface name declaration aspect you had mentioned.)

Unfortunately, we could not get to the point to t

[2022-08-15 23:07] bilgehan-erman opened #7062 "NSC, Error from monitorConnection, RPC error code: PermissionDenied, Desc: no sufficient privileges"
The setup is build on
- cmd-nsc
- cmd-nse-icmp-responder
- nsc-kernel
- nse-kernel

The platform is k8s 1.23, docker 20.10, on ubuntu 20.04, NSM 1.5.0

Things work as expected with the existing scripts -- NSC and NSE on their own, separate pods. (See related Issue #7051)

However, when we try to build NSC and NSE into the same container, we keep getting the NSC error:

`[ERRO] [cmd:[/bin/nsc]] err

[2022-08-15 23:47] bilgehan-erman commented on #7062
In the provided test results, (unintentionally) both the nsc and the nse nodes provide the "icmp-responder" service (that was originating from the default Config). We corrected this after the logs were captured. Same result. Still get the error.
Also in the actual topology configuration there are no redundant service offers. Although each node provide and consume services, each service name is uni

[2022-08-16 05:21] denis-tingaikin commented on #7062
/cc @glazychev-art , @anastasia-malysheva May this be related to monitor OPA staff?

[2022-08-16 05:37] glazychev-art commented on #7062
Thanks for the detailed information!

Most likely yes, it is related to OPA for monitoring. But it is not actually an error if you are not using init-container (cmd-nsc-init).
We probably need to rewrite the error message in order not to mislead anyone.

[2022-08-16 10:34] ThetaDR commented on #7055
The problem appeared one more time. Here's a new dump:
[2-clusters-dump.zip](https://github.com/networkservicemesh/deployments-k8s/files/9349897/2-clusters-dump.zip)

[2022-08-17 10:23] ThetaDR commented on #7055
New dump:
[cluster-1.txt.zip](https://github.com/networkservicemesh/deployments-k8s/files/9358739/cluster-1.txt.zip)

[2022-08-17 14:23] ThetaDR commented on #7055
[dump-clusters.zip](https://github.com/networkservicemesh/deployments-k8s/files/9363472/dump-clusters.zip)
Interface reappearing.

[2022-08-17 22:05] edwarnicke commented on #7051
@bilgehan-erman

You are correct, and your patience is appreciated.

From your diagram it looks like you want to set the IP address from the NSC side rather than the NSE side.  Is that correct?
If so, could you help me understand *why* ?  And also how you plan to have multiple NSCs connecting to your NSE *not* have IP address collisions without having to manually manage each of their Pod specs?

P

[2022-08-18 01:19] bilgehan-erman commented on #7051
The motivation is to build a pre-set topology. What we are trying out is a little outside of the main NSM model where NSE is providing a specific network service and all the surrounding conveniences that goes with it. Even though the full service automation capabilities may not be used, NSM still provides a powerful framework to create an overlay network. Primary benefit of this may be more for si

[2022-08-18 14:00] edwarnicke commented on #7051
@bilgehan-erman Ah.. got it :)

I tend to think of it a bit more positively: you are getting creative :)

I could also see this for educational situations (a subset of simulations in my mind).  Being able to stand up a 'real network' virtually like this has lots of interesting applications :)

I think you've probably landed on the right solution: Ethernet payload.  It sounds like you are really mo

[2022-08-18 17:57] bilgehan-erman commented on #7051
@edwarnicke
Thank you for the positive take on the scenario.

I strongly think we will be, but as I'd documented with #7062, we had to stop the work because of the PermissionDenied error we are getting when NSC and NSE operate from within the same container.

Thank you for the suggestion. Once we are able to sort things out at our end, we will be glad to contribute a clean set of scripts to demons

[2022-08-18 18:30] edwarnicke commented on #7062
@glazychev-art Any idea what the root cause might be?  I'm not entirely sure *why* we would be seeing this, do you have a more specific idea?

[2022-08-18 18:31] edwarnicke commented on #7051
@bilgehan-erman Thanks for bringing attention to #7062 .  Again: creative approach :)

We'll see if we can get to the bottom of it :)

[2022-08-19 08:49] glazychev-art commented on #7062
@edwarnicke
[cmd-nsc](https://github.com/networkservicemesh/cmd-nsc) does [Monitor connections](https://github.com/networkservicemesh/cmd-nsc/blob/main/main.go#L253) before the Request. This is necessary to take the connection if there was cmd-nsc-init container before.
But as you know, you've implemented an open-policy for monitoring, and it is based on the spiffieID from the Request. But if we d

[2022-08-22 10:41] denis-tingaikin commented on #7062
That's an interesting scenario where we're trying to run nsc/nse together in the same container.

@bilgehan-erman

1. Do you have a diagram/scheme/proposal what do you finally get?
2. Did ping work  for your scenario?
3. I think that the problem with authz is related to dp healing. Could you re-test the setup with disabled dp heal https://github.com/networkservicemesh/cmd-nsc/blob/main/internal/co

[2022-08-22 17:56] bilgehan-erman commented on #7062
@denis-tingaikin

Unfortunately, LIVENESS did not seem to help:
[nsc.log](https://github.com/networkservicemesh/deployments-k8s/files/9396536/nsc.log)
[nse.log](https://github.com/networkservicemesh/deployments-k8s/files/9396537/nse.log)

At the NSC, cannot get a point to try anything because of the error

This the test scenario:

![nsm-test](https://user-images.githubusercontent.com/992892/185987

[2022-08-23 09:24] ThetaDR commented on #7055
Steps for reproducing:
1. setup [interdomain](https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/interdomain).
2. Setup vl3 (nse's NSM_REGISTER_SERVICE is set to true) .
3. Start pods with nsm annotation on the first and second cluster.
4. Delete the pod on the 2nd cluster. Then apply it once again.
Sometimes it works just fine after one restart, so multiple restarts should s

[2022-08-23 13:51] yuraxdrumz opened #7110 "External VPP Issue"
Hello,

I am trying to run an external VPP as a daemon-set on k8s on EKS and I am running into some problems.

When using local VPP, everything works as expected, the forwarder inits an AF_PACKET socket on a host-interface and creates all the necessary routes/interfaces.

When using external VPP as a daemon-set, I am getting strange errors from the forwarder.
After checking the source code, I saw

[2022-08-23 16:02] edwarnicke commented on #7110
How are you setting up the external VPP as a daemon-set on K8s?  We make a few presumptions about that external VPP... among them that it has an interface that is bound to the Node IP.

[2022-08-23 16:15] yuraxdrumz commented on #7110
I tried two different approaches:

- Create AF_PACKET with a veth pair before running the forwarder
- Bind another NIC to the node and run DPDK with vfio before running the forwarder

Both fail with the error I sent above.

[2022-08-23 18:30] yuraxdrumz commented on #7110
I just tried attaching another NIC to one of my k8s nodes, created an AF_PACKET interface, set its IP to the one from AWS console and added the ip as the NSM_TUNNEL_IP and I still get the same error.

Can you explain what I am missing here? Would appreciate the help.

[2022-08-23 19:34] edwarnicke commented on #7110
Which external VPP version are you running?

[2022-08-23 19:37] yuraxdrumz commented on #7110
ghcr.io/edwarnicke/govpp/vpp:v22.06-release

[2022-08-24 12:24] yuraxdrumz commented on #7110
Sometimes I feel so stupid.

Instead of providing `/var/run/vpp/external/api.sock` I passed `/var/run/vpp/external/cli.sock`.
Forwarder went up and then I tried running everything on 1 node:
1. VPP
2. Forwarder
3. NSE
4. NSC

Everything works.
Now I will modify forwarders to use the 2nd NIC ip, as currently I can only pass NSM_TUNNEL_IP, which in my case is different for each forwarder, and then I

[2022-08-24 16:33] yuraxdrumz commented on #7110
@edwarnicke

With kernel2kernel example everything worked, but with kernel nsc to memif nse it fails because memif interface is not created.
This is the error I see in my nse vpp - `unknown message: memif_socket_filename_add_del_v2_34223bdf: cannot support any of the requested mechanism`

I saw [#519](https://github.com/networkservicemesh/sdk-vpp/pull/519), which removed the need for external vpp

[2022-08-24 21:34] edwarnicke commented on #7110
Not stupid.  I don't believe in stupid users, I believe in doc bugs :)  If you could let me know what you think might have precluded this misadventure in terms of doc improvements, I'd love that :)

[2022-08-24 21:37] edwarnicke commented on #7110
Ah... OK... that's not going to work at this moment because there is a patch missing from it for using abstract sockets for memif (if you are interested, I can explain the ins and outs of why).

Could you try using:

[v22.06-rc0-147-g1c5485ab8](https://github.com/edwarnicke/govpp/releases/tag/v22.06-rc0-147-g1c5485ab8)

[2022-08-29 08:24] yuraxdrumz commented on #7110
@edwarnicke

Thanks for the help, it worked.

I tried a couple of configurations:

1. VPP daemon set with forwarder and nse that both use it - with the patch I see the the nse can create the memif server, but forwarder still fails with `memif_socket_filename_add_del_v2_34223bdf`.
2. Running forwarder with its own vpp instance and the nse with the external VPP, which works fine.

After seeing some

[2022-08-29 08:32] yuraxdrumz commented on #7110
I think verifying we are trying to connect to the `api.sock` by running some initial command, like a `show int` and if it fails, catch it and add a warning in addition to the error message that returns from govpp.

An example would be:

Original message
[code]

Add warning below the message from the govpp wrapper
[code]

[2022-08-29 15:25] edwarnicke commented on #7110
I'm a little confused... it sounds above like [v22.06-rc0-147-g1c5485ab8](https://github.com/edwarnicke/govpp/releases/tag/v22.06-rc0-147-g1c5485ab8) worked, but then below you talk about it not working...

Was this with [v22.06-rc0-147-g1c5485ab8](https://github.com/edwarnicke/govpp/releases/tag/v22.06-rc0-147-g1c5485ab8) ?

Could you file a bug on those issues... we should be cleaning up those i

[2022-08-31 10:06] glazychev-art commented on #6345
Merged: https://github.com/networkservicemesh/deployments-k8s/pull/7057

[2022-08-31 10:06] #6345 closed

[2022-08-31 14:50] yuraxdrumz commented on #7110
@edwarnicke

I meant the VPP abstract socket feature works, but connecting an NSC to an NSE with both the NSE and the forwarder using the same VPP fails with the same error `memif_socket_filename_add_del_v2_34223bdf`. The server side (nse) memif is created after running the VPP daemon-set with the image you provided, but the client side memif (forwarder) returns the error above although it uses th

[2022-09-06 03:26] #7048 closed

[2022-09-07 10:26] #7055 closed

[2022-09-07 17:35] #6779 closed

[2022-09-08 08:05] zhaowei413 opened #7171 "【help】how to setup a NSM chain all with kernel port?"
hello, I want to setup a NSM chain with all port of NSC and NSE with kernel port.
But I do not konw all to create sidecar for NSE pod2 in the picture, because there seems no example of create a chain of pods all using kernel port.
I have try to creat it as bellow, but failed.https://github.com/zhaowei413/testcode/blob/main/test/nsePod2.yaml
So, is there some wrong with the link above, thanks!

![i

[2022-09-08 12:30] #6952 closed

[2022-09-08 13:47] zhaowei413 commented on #7171
The root cause for this is error code ""app: firewall"" in the file, so close it

[2022-09-08 13:47] #7171 closed

[2022-09-13 15:07] zolug commented on #6779
@denis-tingaikin Hi! Thanks a lot, I will take a look at the changes and will try to play around with it as well.

[2022-09-21 13:38] bilgehan-erman commented on #7062
@glazychev-art thank you very much for looking into this.
I'll try it out your suggestions and see how it goes.

[2022-09-23 16:20] denis-tingaikin opened #7433 "CVEs in NSM dependencies"
From  Giang Tran

We should check these CVEs in NSM deps.

[2022-09-26 09:41] ThetaDR commented on #7433
Checked the repositories for this vulnerabilities - the dependencies are either newer or we don't have them.

[2022-09-28 02:53] mayulin123456 opened #7469 "if nsm has plans to use k8s CNI to communicate? Because some pods function is bound with k8s cni. If they don't use k8s cni, they can't realize their function"

[2022-09-29 07:45] ThetaDR opened #7471 "Cmd-nsc cannot start after using incorrect annotations"
Steps:
1. Interdomain setup
2. Vl3 on 1st cluster
3. Start pods with incorrect annotations (1st cluster - @my.cluster1; 2nd cluster - basic nsm annotation)
4. Delete these pods
5. Deploy pod with correct annotation (1st cluster - basic annotation; 2nd - @my.cluster1)

[2022-10-03 22:33] denis-tingaikin commented on #7469
Could you say more?

I think it'd be more concrete if you could provide the next points:

1. scenario
2 .actual behavior
3. expected behavior

[2022-10-04 09:00] ljkiraly commented on #6826
Capability settings for binaries added to Dockerfiles used to build NSM images:
[cmd-forwarder-vpp/681](https://github.com/networkservicemesh/cmd-forwarder-vpp/pull/681)
[cmd-nsmgr/547](https://github.com/networkservicemesh/cmd-nsmgr/pull/547)

Example manifests (forwarder-vpp, nsmgr) extended with security context settings to run as non-root user, with minimal set of privileges and capabilities:

[2022-10-04 11:05] glazychev-art opened #7559 "VFIO tests are not stable"
### Build

https://github.com/networkservicemesh/integration-k8s-packet/actions/runs/3180697018/jobs/5184635791

### Log

[code]

[2022-10-04 20:00] srini38 opened #7560 "Having issue while trying nse-composition example (using NSM v1.5.0 and Kind version 0.14.0)"
I am trying to run nse-composition example (v1.5.0) , but have issue with the alpine pod stuck in Init state. Looks like a permission issue. Please let me know if I'm missing anything.

[code]

[2022-10-06 09:21] #7559 closed

[2022-10-06 10:01] denis-tingaikin opened #7562 "Add template for deployments-k8s"
## Description

In most cases when we're getting an issue report we need to get full logs and set up env. To improve the time for catching problems we could simply ask in the issue template to do cluster-info dump.

## Solution

1. Add templates for issues/prs See at templates https://github.com/networkservicemesh/sdk/tree/main/.github
2. note about logs `kubectl cluster-info dump`

[2022-10-06 12:18] srini38 commented on #7560
@glazychev-art
Thank you for the response. I always see this issue. I even tried deleting the kind cluster and recreating it without any success. I had done basic tests before. (eg: https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/use-cases/Memif2Memif)

Attaching the logs from forwarders, alpine and nsmgrs as requested.
[forwarder-vpp-zjhk4.log](https://github.com/networks

[2022-10-06 12:45] glazychev-art commented on #7560
Looks like there is something wrong with `spire`.

Could you also add describe of the `alpine` pod?

[2022-10-06 15:07] srini38 commented on #7560
Attaching describe of alpine pod (kubectl describe pods alpine -n ns-k88mw) as requested
[alpine-describe.log](https://github.com/networkservicemesh/deployments-k8s/files/9725948/alpine-describe.log)

[code]

[2022-10-07 07:06] glazychev-art commented on #7560
I see strange `expires` values ​​in the nsmgr logs:

[code]
1. They don't change on every retry.
2. They are too different for the client and the manager in the Path (`1664915538` and `1664916368`)

Most likely this is due to the spire certificates..

@denis-tingaikin
Do you think this parameter can affect it?
https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/spire/server.co

[2022-10-10 10:35] glazychev-art commented on #7560
@srini38
Could you also recreate the kind cluster and deploy [NSM v.1.6.0](https://github.com/networkservicemesh/deployments-k8s/tree/v1.6.0)?
If the problem persists, please attach `cluster-info dump` and pods `describe`:
[code]

[2022-10-11 04:04] srini38 commented on #7560
@glazychev-art

Looks like tag v1.6.0 does not exist yet for integration-k8s-kind repository

[code]

[2022-10-11 05:37] glazychev-art commented on #7560
@srini38
Thanks for pointing this out.
For now, you can use `main` branch.

[2022-10-12 07:56] srini38 commented on #7560
The alpine pod is now no longer stuck in "Init" state when NSM v1.6.0 is used. But now ping between NSC and NSE is not working while testing nsm-composition example.

Full set of steps used.

[code]

[2022-10-13 12:41] glazychev-art commented on #7560
@srini38
It is interesting.

NSC will have `nsm-1` interface if you use [this configuration](https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/features/nse-composition/client.yaml)

I have a suspicion what is going on. Apparently on your cluster the NSC has some latency when pinging, that it decides that the ping is not working at all and tries to heal the connection..

To t

[2022-10-17 06:24] glazychev-art opened #7660 "`for loop` in bash commands can return false positive results"
### Description

[gotestmd](https://github.com/networkservicemesh/gotestmd/blob/main/pkg/bash/bash.go) uses the exit code of the last run command.

We use `for loop` for some tests. But the status of the loop is the status of **_the last_** command that executes inside this loop.
For example:
[code]
If `operation1` returns `false`, but `operationN` returns `true` then `$?` also returns `true`. And

[2022-10-24 12:32] denis-tingaikin opened #7673 "Improve UX for NSM examples"
## Overview

1. It would be good if we could get to one approach to such common tasks, or one approach plus some additional layer (say ‘spiffe setup’ + ‘spiffe federation’ etc) … I’ve seen folks follow the wrong spiffe or the wrong nsm setup instructions and have use cases like interdomain simply fail

2. Anything NSC that uses kernel interfaces should be using the webhook… we currently have a lot

[2022-10-27 10:48] glazychev-art commented on #7560
@srini38
Sorry to keep you waiting
Thanks for the detailed information, it helps a lot.

OK.. as I can see from the logs, you have 2 admission-webhooks.
Could you delete the previous webhook before applying a new one?

So, please do one more thing::
...
2.A. Deploy [nsm-system](https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/basic)
2.B. `kubectl delete deploy -n nsm-system

[2022-10-28 09:27] ThetaDR opened #7676 "Namespace annotation - duplicate values"
## Expected Behavior

Pods start when NSM annotation is added to namespace

## Current Behavior

It's getting stuck on replicaset step.

## Failure Information (for bugs)

ReplicaSets have errors related to duplicate values

## Steps to Reproduce

1. Setup interdomain NSM
2. Add vl3 nse
3. Apply configuration with NSM annotation in namespace with any Deployments

## Context

* NSM Version: main br

[2022-10-28 09:30] denis-tingaikin opened #7677 "TestNsm_kuma_universal_vl3 is unstable"
## Expected Behavior

TestNsm_kuma_universal_vl3 is stable

## Current Behavior

TestNsm_kuma_universal_vl3 is unstable

## Failure Information (for bugs)

## Steps to Reproduce

1. Step 1
2. Step 2
3. You get the idea...

## Context

* Kubernetes Version:
* NSM Version:
* etc.

## Failure Logs

https://github.com/networkservicemesh/integration-k8s-kind/actions/runs/3319178308/jobs/5484005519

[2022-10-31 10:55] denis-tingaikin commented on #7673
@d-uzlov

For point 2, examples are:

Expected: https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/use-cases/Kernel2Kernel/client.yaml

Example of what is not expected: https://github.com/networkservicemesh/deployments-k8s/blob/main/examples/use-cases/SmartVF2SmartVF/patch-nsc.yaml

[2022-10-31 19:34] denis-tingaikin opened #7682 "SPEC: Develop Network Service Endpoints"
## Overview

We need to provide a generic way to simplification of developing [Network Service Endpoint](https://networkservicemesh.io/docs/concepts/architecture/#endpoints).

## Link to the Google Docs document

https://docs.google.com/document/d/1rPhmqU71t5YgJQ_mWETtr2q6Z7AMO8e4NrZRvFTmFIU/edit?usp=sharing

[2022-11-01 04:35] srini38 commented on #7560
@glazychev-art  Thank you for the support and patience. Sorry for the delay from my side. Post deleting admission-webhook-k8s and redeploying admission-webhook-k8s, the alpine pod is up. But the ping between NSE and NSC is still not working while testing nsm-composition example. NSM interface is not seen in alpine pod. In nse-kernel pod, the interface is still flapping.

Full steps followed:
[code

[2022-11-01 05:10] glazychev-art commented on #7560
@srini38
Could you attach the logs from alpine cmd-nsc container?

[2022-11-01 09:44] #7562 closed

[2022-11-03 16:58] ljkiraly opened #7687 "Change xconnect to bridge domain in case of remote vlan"
## Overview

In case of vpp the remote vlan break-trough worked with restriction: only one NSC connecting by a given VLAN can run per node. This vlan sub-interface was connected by xconnect to some device with external connectivity. A bridge should be used instead of xconnect. This connection setup inside the vpp practically mimic a MACVLAN interface connection.

## References

networkservicemesh/

[2022-11-04 03:59] srini38 commented on #7560
@glazychev-art
[alpine-cmd-nsc.log](https://github.com/networkservicemesh/deployments-k8s/files/9934871/alpine-cmd-nsc.log)
[alpine-cmd-nsc-init.log](https://github.com/networkservicemesh/deployments-k8s/files/9934873/alpine-cmd-nsc-init.log)
[nse-kernel-9fff9b7bd-chnfp-nse.log](https://github.com/networkservicemesh/deployments-k8s/files/9934874/nse-kernel-9fff9b7bd-chnfp-nse.log)
[nse-kernel-9fff

[2022-11-04 06:18] glazychev-art commented on #7560
@srini38
As far as I can see, requests are slow for some reason..
Could you add another env to the admission-webhook?
It will look:
[code]

Either way, please dump the cluster afterwards and attach it here:
[code]
Thank you!

[2022-11-08 16:32] glazychev-art commented on #7560
@srini38
Very happy about it!

If you can collect the logs, that will be very cool. We are especially interested in the logs from the nsm-system and ns-nse-composition pods. It would be very interesting to know why the request takes so long.
`kubectl cluster-info dump ...` command can help, I described it above

[2022-11-08 17:52] srini38 commented on #7560
@glazychev-art Glad to share the logs. One thing that I observe is that the ping from nsc/nse takes hundreds of milliseconds. Not sure if this is due to all the instances of vpp_main hogging one CPU.
[cluster-state.zip](https://github.com/networkservicemesh/deployments-k8s/files/9963852/cluster-state.zip)

[2022-11-09 09:18] denis-tingaikin opened #7694 "NSM + Istio booking example doesn't work"
## Expected Behavior

NSM + Istio booking example is working correctly.

## Current Behavior

NSM + Istio booking example doesn't workg.

## Steps to Reproduce

Run https://github.com/networkservicemesh/deployments-k8s/tree/main/examples/interdomain/nsm_istio_booking

## Context

NSM Version: v1.6.1

## Failure Logs

[fail_response.txt](https://github.com/networkservicemesh/deployments-k8s/files/9

[2022-11-10 09:40] denis-tingaikin commented on #7676
Seems like fixed

[2022-11-10 09:40] #7676 closed

[2022-11-10 15:49] ljkiraly opened #7738 "Include MTU adjustment checks in remote VLAN examples"
## Expected Behavior

The MTU value of the interface in NSC should not be bigger than the MTU value set on base interface

## Current Behavior

MTU is not checked currently. Some failures are slipping through the CI

## Failure Information (for bugs)

Some failures are slipping through the CI. The sub-interface now don't inherit the MTU from the host interface in vpp. That caused failure in MTU ad

[2022-11-14 19:51] d-uzlov commented on #7673
My thoughts on simplifying NSM setup:

## What we want

Ideally we would want 4 setups, same as Spire: 1 for single-cluster examples, 3 for each cluster in multi-cluster examples.
This is the minimum because in single-cluster setup we need to use the default kubectl config file, and in multi-cluster setup we need to specify kubectl config manually, a different one for each cluster.

## What we cur

[2022-11-15 10:26] ljkiraly commented on #7056
@NikitaSkrynnik Yes, this is done by the PR: networkservicemesh/integration-k8s-kind/pull/584
The main suite is the networkservicemesh/deployments-k8s/tree/main/examples/remotevlan which includes the ovs and vpp cases and these cases includes the test cases above. So the mentioned 3 example runs with ovs forwarder and vpp forwarder also.

Sorry for late answer.

[2022-11-15 10:33] #4433 closed

[2022-11-17 02:57] nephilimboy commented on #5247
Hi all,
Is this issue fixed in v1.6.0.? I am planning to implement the same service chain that was discussed here.

Thanks!

[2022-11-18 08:42] NikitaSkrynnik commented on #7056
@ljkiraly Thank you for your answer. I think we can close this issue.

[2022-11-18 08:42] NikitaSkrynnik commented on #7056
Closed by https://github.com/networkservicemesh/integration-k8s-kind/pull/584

[2022-11-18 08:42] #7056 closed

[2022-11-21 11:39] ThetaDR opened #7792 "Nsmgr restarts"
## Expected Behavior

No restarts of Nsmgr

## Current Behavior

Nsmgr has restarted

## Failure Information (for bugs)

nsmgr has restarted 4 times

## Steps to Reproduce

Unknown

## Context

Interdomain setup with vl3

* Kubernetes Version: 1.24
* NSM Version: main (Nov 18th)
* etc.

## Failure Logs

nsgmr logs: [nsmgr-fail.log](https://github.com/networkservicemesh/deployments-k8s/files/100560

[2022-11-23 21:15] denis-tingaikin commented on #7682
Finally, we with @edwarnicke  decided to implement option 2 from the SPEC.

The work is planned to be completed in `nsmctl` repository.

Moving the issue...

[2022-11-24 09:41] glazychev-art commented on #7660
Fixed  - https://github.com/networkservicemesh/deployments-k8s/pull/7661

[2022-11-24 09:41] #7660 closed

[2022-11-24 20:28] MarkMckessock opened #7846 "How to establish L2 connection between 2 user applications?"
## Question
I am looking to implement a simple routing demo like this using NSM:

`host` <-- (172.16.1.0/31) --> `router` <-- (172.16.2.0/31) --> `host`

Essentially, I'm trying to establish L2 connections between each of the pods either by inserting a sidecar into the router or using an L2 forwarder NSE between each pair of devices. ex:
`client`[NSC] <-- [NSE] `l2_forwarder` [NSE] --> [NSC]`route

[2022-11-28 11:01] glazychev-art commented on #7846
Hi @MarkMckessock ,
Would a wider mask work for you?
If I understand correctly, you want to try:

`client`[NSC(172.16.1.1/30)] <-- [NSE(172.16.1.0/30)] `l2_forwarder`[NSE(172.16.1.2/30)] --> [NSC (172.16.1.3/30)]`router`[NSC...] <-- ...

If so, then set this env to one of the `cmd-nse-icmp-responder` sidecar:
[code]

[2022-11-29 14:59] MarkMckessock commented on #7846
I guess my ideal scenario would be to have an NSE that acts like a virtual switch and would effectively forward Ethernet frames coming from one connected NSC to any other attached NSCs.

I'd like the clients in my example above to be on two separate networks and have the router in the middle perform routing between them. If I were to use the 172.16.1.0/30 mask, both of the clients would be placed

[2022-11-30 10:11] denis-tingaikin commented on #7560
Seems like resolved

[2022-11-30 10:11] #7560 closed